@import '../../../../styles';
@import '../variables';

@import '../Select/select-input.scss';
@import '../MultiSelect/multiselect-input.scss';

.checkbox-td {
  width: fit-content;
  padding-left: 0px !important;
}

td {
  // schema form overrides these paddings otherwise..
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-right: 0px !important;
}

.option-label-with-icon {
  margin-left: 10px;
}

.option-label-without-icon {
  margin-left: 27px;
}

.icon-td {
  padding-top: 3px;
}

.dropdown-header-div {
  width: 100%;
  position: relative;
  margin-bottom: 0.25rem !important;
  min-height: 1.5rem;
  padding-left: 0.75rem;
  padding-top: 0.75rem;

  .checkbox-text-group {
    display: inline-flex;
    padding-bottom: 10px;
    width: calc(5% + 40px);
    justify-content: space-between;

    .all-checkbox-div {
      margin-left: 0px;
    }

    .all-text {
      font-size: 12px;
      font-family: $oxd-input-control-font-family;
      padding-left: 10px;
      margin-left: 5%;
    }
  }
}

.dropdown-footer-div {
  padding-top: 10px;
  padding-bottom: 3px;
  margin-left: 12px;
}

.tree-select-table-container {
  max-height: 210px;
  overflow: auto;
  font-size: 12px;
  font-family: $oxd-input-control-font-family;
  position: relative;
  @include oxd-scrollbar();

  .tree-select-table {
    width: 100%;
    border-collapse: collapse;
  }
}

.dropdown-container {
  height: auto;
  z-index: 300;
  overflow: hidden;
}

.selected-count-chip {
  margin-left: auto;
  margin-right: 15px !important;
}

:deep(.oxd-select-dropdown-inner) {
  max-height: $oxd-tree-select-dropdown-dropdown-max-height !important;
  overflow-y: auto;
  overflow-x: hidden;
  padding: $oxd-dropdown-dropdown-inner-padding;
}
