$oxd-icon-font-color: $oxd-interface-gray-darken-1-color !default;
$oxd-icon-font-color--disabled: $oxd-interface-gray-lighten-2-color !default;

$oxd-icon-font-size--extra-large: 18px !default;
$oxd-icon-font-size--large: 16px !default;
$oxd-icon-font-size--medium: 14px !default;
$oxd-icon-font-size--small: 12px !default;
$oxd-icon-font-size--extra-small: 10px !default;

$oxd-svg-icon-font-size--extra-large: 22px !default;
$oxd-svg-icon-font-size--large: 20px !default;
$oxd-svg-icon-font-size--medium: 18px !default;
$oxd-svg-icon-font-size--small: 16px !default;
$oxd-svg-icon-font-size--extra-small: 14px !default;
$oxd-svg-icon-font-size--xx-small: 12px !default;
$oxd-svg-icon-font-size--xxx-small: 10px !default;