@import '../../../styles';
@import 'variables';

@import '~bootstrap-icons/font/bootstrap-icons.css';

.oxd-icon {
  color: $oxd-icon-font-color;
  &--disabled {
    color: $oxd-icon-font-color--disabled;
  }
  &--extra-small {
    font-size: $oxd-icon-font-size--extra-small !important;
  }
  &--small {
    font-size: $oxd-icon-font-size--small !important;
  }
  &--medium {
    font-size: $oxd-icon-font-size--medium !important;
  }
  &--large {
    font-size: $oxd-icon-font-size--large !important;
  }
  &--extra-large {
    font-size: $oxd-icon-font-size--extra-large !important;
  }
}

.oxd-svg-icon {
  display: flex;
  fill: currentColor;
  &--extra-small {
    width: $oxd-svg-icon-font-size--extra-small !important;
    height: $oxd-svg-icon-font-size--extra-small !important;
  }
  &--small {
    width: $oxd-icon-font-size--small !important;
    height: $oxd-icon-font-size--small !important;
  }
  &--medium {
    width: $oxd-icon-font-size--medium !important;
    height: $oxd-icon-font-size--medium !important;
  }
  &--large {
    width: $oxd-icon-font-size--large !important;
    height: $oxd-icon-font-size--large !important;
  }
  &--extra-large {
    width: $oxd-svg-icon-font-size--extra-large !important;
    height: $oxd-svg-icon-font-size--extra-large !important;
  }
}

[class^='bi-']::before,
[class*=' bi-']::before {
  line-height: inherit;
}
