$oxd-table-font-size: 0.75rem !default;
$oxd-table-header-font-weight: 700 !default;
$oxd-table-font-weight: 400 !default;
// $oxd-table-margin-bottom: 0.4rem !default;
$oxd-table-font-family: $oxd-font-family !default;
$oxd-table-font-color: $oxd-interface-gray-darken-1-color !default;

$oxd-table-row-hover-bg-color: $oxd-background-light-gray-color;
$oxd-table-row-hover-font-color: $oxd-interface-gray-darken-2-color;
$oxd-table-row-border: $oxd-border !default;
$oxd-table-row-border-color: $oxd-interface-gray-lighten-2-color !default;

$oxd-table-body-strip-color: $oxd-background-white-shadow-color !default;
