@import '../../../styles';
@import 'variables';

.oxd-padding-cell {
  padding: $oxd-table-cell-padding;
}

.oxd-table-th {
  text-align: left;
}

.oxd-table-tr {
  padding: $oxd-table-tr-padding;
  background-color: $oxd-table-tr-bg-color;
}

.oxd-table-row  {
  display: flex;
}
