$oxd-progress-circle-fill-color: $oxd-feedback-warn-color;
$oxd-progress-circle-empty-color: $oxd-interface-gray-lighten-1-color;
$oxd-progress-circle-default-slot-font-family: $oxd-font-family !default;
$oxd-progress-circle-default-slot-font-weight: 700 !default;
$oxd-progress-circle-default-slot-font-color: $oxd-interface-gray-darken-1-color !default;
