$oxd-alert-height: 60px !default;
$oxd-alert-font-size: 14px !default;
$oxd-alert-font-weight: 600 !default;
$oxd-alert-border-radius: 1.2rem !default;
$oxd-alert-margin: 1rem 0 !default;
$oxd-alert-padding: 1rem !default;

$oxd-alert-compact-border-radius: 0.8rem !default;
$oxd-alert-compact-padding: 0.5rem 1rem 0.5rem 1rem !default;
$oxd-alert-compact-height: 46px !default;

$oxd-alert-bg-color-default: $oxd-white-color !default;
$oxd-alert-bg-color-success: rgba($oxd-feedback-success-color, 0.06) !default;
$oxd-alert-bg-color-warn: rgba($oxd-feedback-warn-color, 0.06) !default;
$oxd-alert-bg-color-error: rgba($oxd-feedback-danger-color, 0.06) !default;
$oxd-alert-bg-color-info: rgba($oxd-feedback-info-color, 0.06) !default;

$oxd-alert-color-default: $oxd-interface-gray-darken-1-color !default;
$oxd-alert-color-success: $oxd-feedback-success-color !default;
$oxd-alert-color-warn: $oxd-feedback-warn-color !default;
$oxd-alert-color-error: $oxd-feedback-danger-color !default;
$oxd-alert-color-info: $oxd-feedback-info-color !default;

$oxd-alert-icon-font-size: 1.5rem !default;
