@import '../../../styles';
@import 'variables';

.oxd-alert {
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: $oxd-alert-height;
  border-radius: $oxd-alert-border-radius;
  margin: $oxd-alert-margin;
  color: $oxd-alert-color-default;
  background-color: $oxd-alert-bg-color-default;
  font-size: $oxd-alert-font-size;
  font-weight: $oxd-alert-font-weight;

  &--success {
    color: $oxd-alert-color-success;
    background-color: $oxd-alert-bg-color-success;
  }

  &--warn {
    color: $oxd-alert-color-warn;
    background-color: $oxd-alert-bg-color-warn;
  }

  &--error {
    color: $oxd-alert-color-error;
    background-color: $oxd-alert-bg-color-error;
  }

  &--info {
    color: $oxd-alert-color-info;
    background-color: $oxd-alert-bg-color-info;
  }

  &--compact {
    min-height: $oxd-alert-compact-height;
    border-radius: $oxd-alert-compact-border-radius;
  }

  &-content {
    display: flex;
    align-items: center;
    position: relative;
    padding: $oxd-alert-padding;
    font-size: inherit;
    &-text {
      color: inherit;
    }
    &-icon {
      margin-right: 1rem;
      font-size: $oxd-alert-icon-font-size;
      color: inherit;
    }
    &--compact {
      padding: $oxd-alert-compact-padding;
    }
  }

  &-action {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: $oxd-alert-padding;

    &--compact {
      padding: $oxd-alert-compact-padding;
    }

    ::v-deep(.oxd-button) {
      font-size: inherit;
      margin: 0.1rem 0.2rem;
    }
  }
}
