$oxd-table-font-size: 0.75rem !default;
$oxd-table-header-font-weight: 700 !default;
$oxd-table-font-weight: 400 !default;
$oxd-table-font-family: $oxd-font-family !default;
$oxd-table-font-color: $oxd-interface-gray-darken-1-color !default;

$oxd-table-row-hover-bg-color: $oxd-background-light-gray-color !default;
$oxd-table-row-hover-font-color: $oxd-interface-gray-darken-2-color !default;
$oxd-table-row-border: $oxd-border !default;

$oxd-table-body-strip-color: $oxd-background-white-shadow-color !default;
$oxd-table-row-border-color: $oxd-interface-gray-lighten-2-color !default;

$oxd-table-tr-bg-color: $oxd-interface-gray-color !default;
$oxd-table-tr-padding: 25px !default;

$oxd-table-cell-padding: 5px !default;
$oxd-table-row-left-padding: 5px !default;
$oxd-table-row-right-padding: 5px !default;
$oxd-card-table-row-gap: 5px !default;

$oxd-table-loader-height: 400px !default;

$oxd-table-sort-dropdown-padding: 0.125rem !default;
$oxd-table-sort-dropdown-top-margin: 1.5rem !default;
$oxd-table-sort-dropdown-height: 4rem !default;
$oxd-table-sort-dropdown-width: 6rem !default;
$oxd-table-sort-dropdown-font-size: 12px !default;
$oxd-table-sort-dropdown-font-weight: 600 !default;
$oxd-table-sort-dropdown-font-color: $oxd-interface-gray-darken-1-color !default;
