@import '../../../../styles';
@import 'variables';

.oxd-table {
  color: $oxd-table-font-color;
  font-family: $oxd-table-font-family;
  font-size: $oxd-table-font-size;
  display: flex;
  flex-direction: column;
}

.oxd-padding-cell {
  padding: $oxd-table-cell-padding;
}
