@import '../../../../styles';
@import 'variables';

.oxd-table {
  color: $oxd-table-font-color;
  font-family: $oxd-table-font-family;
  font-size: $oxd-table-font-size;
  display: flex;
  flex-direction: column;

  &-loader {
    min-height: $oxd-table-loader-height;
    width: 100%;
    z-index: $oxd-form-z-index;
    display: flex;
    justify-content: center;
    align-items: center;
    & .oxd-loading-spinner {
      width: 35px;
      height: 35px;
    }
  }
  &.oxd-classic-table {
    background-color: $oxd-white-color;
    padding: 1rem;
    border-radius: $oxd-border-radius;
    .oxd-table-header {
      padding-top: 0.25rem;
      .oxd-table-row {
        border-bottom: 2px solid $oxd-interface-gray-lighten-3-color;
        padding-top: 3px;
        padding-bottom: 3px;
      }
    }
    .oxd-table-body {
      grid-gap: 0;
      .oxd-table-card {
        border-radius: 0;
        &:not(:first-child) {
          border-top: 1px solid $oxd-interface-gray-lighten-2-color;
        }
        .oxd-table-row {
          .oxd-table-cell {
            .oxd-table-cell-actions {
              flex-wrap: nowrap;
            }
          }
        }
      }
    }
  }
  &.with-filters {
    padding-top: 0.5rem;
  }
}

.oxd-padding-cell {
  padding: $oxd-table-cell-padding;
}

.oxd-table-cell {
  overflow-wrap: break-word;
  word-break: break-word;
}
