$oxd-button-min-width: 100px !default;
$oxd-button-horizontal-padding: 32px !default;
$oxd-button-vertical-padding--large: 16px !default;
$oxd-button-vertical-padding--medium: 8px !default;
$oxd-button-vertical-padding--small: 4px !default;
$oxd-button-font-size--large: 14px !default;
$oxd-button-font-size--medium: 14px !default;
$oxd-button-font-size--small: 12px !default;
$oxd-button-font-weight: 600 !default;
$oxd-button-font-family: $oxd-font-family !default;
$oxd-button-font-color: $oxd-white-color !default;

$oxd-button-color--main: $oxd-primary-one-color !default;
$oxd-button-color--main-pressed: #ff6c03 !default;
$oxd-button-color--main-hover: #ff8a36 !default;
$oxd-button-color--main-inactive: $oxd-interface-gray-lighten-2-color !default;

$oxd-button-color--secondary: $oxd-secondary-four-color !default;
$oxd-button-color--secondary-pressed: #68a61d !default;
$oxd-button-color--secondary-hover: #84d225 !default;
$oxd-button-color--secondary-inactive: $oxd-interface-gray-lighten-2-color !default;

$oxd-button-color--ghost: $oxd-secondary-four-color !default;
$oxd-button-border--ghost: $oxd-border !default;
$oxd-button-color--ghost-pressed: #68a61d !default;
$oxd-button-color--ghost-hover: #84d225 !default;
$oxd-button-color--ghost-inactive: $oxd-interface-gray-lighten-1-color !default;

$oxd-button-font-color--label: rgb(104, 166, 29) !default;
$oxd-button-color--label: rgb(104, 166, 29, 0.1) !default;
$oxd-button-color--label-pressed: rgb(104, 166, 29, 0.2) !default;
$oxd-button-color--label-hover: rgb(104, 166, 29, 0.15) !default;
$oxd-button-color--label-inactive: $oxd-interface-gray-lighten-1-color !default;

$oxd-button-font-color--label-error: $oxd-feedback-error-color !default;
$oxd-button-color--label-error: rgb(235, 9, 16, 0.1) !default;
$oxd-button-color--label-error-pressed: rgb(235, 9, 16, 0.2) !default;
$oxd-button-color--label-error-hover: rgb(235, 9, 16, 0.15) !default;
$oxd-button-color--label-error-inactive: $oxd-interface-gray-lighten-1-color !default;

$oxd-icon-button-font-size: 18px !default;
$oxd-icon-button-font-weight: 400 !default;
$oxd-icon-button-bg-color: rgba(100, 114, 140, 0.1) !default;
$oxd-icon-button-font-color: $oxd-interface-gray-darken-1-color !default;
$oxd-icon-button--pressed: rgba(100, 114, 140, 0.2) !default;
$oxd-icon-button--hover: rgba(100, 114, 140, 0.15) !default;
$oxd-icon-button-size: 36px;
$oxd-icon-button-padding: 6px;
