$oxd-button-min-width: 100px !default;
$oxd-button-horizontal-padding: 32px !default;
$oxd-button-vertical-padding--large: 16px !default;
$oxd-button-vertical-padding--medium: 8px !default;
$oxd-button-vertical-padding--small: 4px !default;
$oxd-button-font-size--large: 14px !default;
$oxd-button-font-size--medium: 14px !default;
$oxd-button-font-size--small: 12px !default;
$oxd-button-font-weight: 600 !default;
$oxd-button-font-family: $oxd-font-family !default;
