@import '../../../styles';
@import 'variables';
@import 'mixins';

.oxd-button {
  font-family: $oxd-button-font-family;
  font-weight: $oxd-button-font-weight;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  align-items: center;
  padding-right: $oxd-button-horizontal-padding;
  padding-left: $oxd-button-horizontal-padding;
  min-width: $oxd-button-min-width;
  &.with-icon {
    display: flex;
    justify-content: center;
  }

  &:focus {
    outline: 0;
  }

  /* Main Button */
  &--main {
    @include oxd-button-solid('main');
  }

  /* Secondary Button */
  &--secondary {
    @include oxd-button-solid('secondary');
  }

  /* Feedback Buttons */
  &--info {
    @include oxd-button-solid('info');
  }
  &--danger {
    @include oxd-button-solid('danger');
  }
  &--warn {
    @include oxd-button-solid('warn');
  }
  &--success {
    @include oxd-button-solid('success');
  }

  /* Ghost Button */
  &--ghost {
    @include oxd-button-ghost('default');

    &-info {
      @include oxd-button-ghost('info');
    }
    &-danger {
      @include oxd-button-ghost('danger');
    }
    &-warn {
      @include oxd-button-ghost('warn');
    }
    &-success {
      @include oxd-button-ghost('success');
    }
  }

  /* Label Button */
  &--label {
    @include oxd-button-label('default');

    &-info {
      @include oxd-button-label('info');
    }
    &-danger {
      @include oxd-button-label('danger');
    }
    &-warn {
      @include oxd-button-label('warn');
    }
    &-success {
      @include oxd-button-label('success');
    }
  }

  /* Label Feedaback Button */
  &--label-feedback {
    @include oxd-button-label-feedback('default');

    &-info {
      @include oxd-button-label-feedback('info');
    }
    &-danger {
      @include oxd-button-label-feedback('danger');
    }
    &-warn {
      @include oxd-button-label-feedback('warn');
    }
    &-success {
      @include oxd-button-label-feedback('success');
    }
    &-reject {
      @include oxd-button-label-feedback('reject');
    }
  }

  /* Text Button */
  &--text {
    @include oxd-button-label('text');
  }

  /* Tool Button */
  &--tool {
    @include oxd-button-ghost('tool');
  }
}

/* Button Sizes */
.oxd-button--small {
  font-size: $oxd-button-font-size--small;
  min-width: unset;
  min-height: unset;
  padding: $oxd-button-vertical-padding--small
    $oxd-button-horizontal-padding--small;
}

.oxd-button--medium {
  font-size: $oxd-button-font-size--medium;
  padding-top: $oxd-button-vertical-padding--medium;
  padding-bottom: $oxd-button-vertical-padding--medium;
}

.oxd-button--large {
  font-size: $oxd-button-font-size--large;
  padding-top: $oxd-button-vertical-padding--large;
  padding-bottom: $oxd-button-vertical-padding--large;
}

.oxd-button--long {
  font-size: $oxd-button-font-size--large;
  padding-top: $oxd-button-vertical-padding--medium;
  padding-bottom: $oxd-button-vertical-padding--medium;
}

/*Glass Button */
.oxd-button {
  .oxd-button-icon,
  :deep(.oxd-svg-icon) {
    color: inherit;
    vertical-align: bottom;
    position: relative;
    &:not(.oxd-button-icon-right) {
      margin-right: 0.5rem;
    }
    &.oxd-button-icon-right {
      margin-left: 0.5rem;
    }
  }
  &.no-label {
    .oxd-button-icon {
      margin: 0;
    }
  }
}

.oxd-button--glass {
  font-size: $oxd-button-font-size--large;
  font-weight: $oxd-button-font-weight;
  color: $oxd-interface-gray-darken-2-color;
  background-color: $oxd-background-white-color;
  cursor: pointer;

  &:focus,
  &:hover {
    outline: 0;
    background-color: $oxd-interface-gray-lighten-2-color;
  }

  &:active {
    background-color: $oxd-interface-gray-lighten-2-color;
  }

  &.--disabled {
    color: $oxd-icon-button-font-color--disabled;
  }

  :deep img {
    width: 2.5rem;
    vertical-align: -0.8rem;
    padding-right: 5px;
  }
}

.oxd-button-label-wrapper {
  display: initial;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.oxd-button--glass {
  .oxd-button-label-wrapper {
    display: flex;
  }
}
