@import '../../../styles';
@import 'variables';
@import 'mixins';

.oxd-button {
  font-family: $oxd-button-font-family;
  font-weight: $oxd-button-font-weight;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  padding-right: $oxd-button-horizontal-padding;
  padding-left: $oxd-button-horizontal-padding;
  min-width: $oxd-button-min-width;

  &:focus {
    outline: 0;
  }

  /* Main Button */
  &--main {
    @include oxd-button-color($oxd-button-color--main);

    &:focus,
    &:hover {
      @include oxd-button-color($oxd-button-color--main-hover);
    }

    &:active {
      @include oxd-button-color($oxd-button-color--main-pressed);
    }

    &:disabled {
      @include oxd-button-color($oxd-button-color--main-inactive);
    }
  }

  /* Secondary Button */
  &--secondary {
    @include oxd-button-color($oxd-button-color--secondary);

    &:focus,
    &:hover {
      @include oxd-button-color($oxd-button-color--secondary-hover);
    }

    &:active {
      @include oxd-button-color($oxd-button-color--secondary-pressed);
    }

    &:disabled {
      @include oxd-button-color($oxd-button-color--secondary-inactive);
    }
  }

  /* Ghost Button */
  &--ghost {
    @include oxd-button-color-ghost($oxd-button-color--ghost);

    &:focus,
    &:hover {
      @include oxd-button-color-ghost($oxd-button-color--ghost-hover);
    }

    &:active {
      @include oxd-button-color-ghost($oxd-button-color--ghost-pressed);
    }

    &:disabled {
      @include oxd-button-color-ghost($oxd-button-color--ghost-inactive);
    }
  }
}

/* Button Sizes */
.oxd-button--small {
  font-size: $oxd-button-font-size--small;
  padding-top: $oxd-button-vertical-padding--small;
  padding-bottom: $oxd-button-vertical-padding--small;
}

.oxd-button--medium {
  font-size: $oxd-button-font-size--medium;
  padding-top: $oxd-button-vertical-padding--medium;
  padding-bottom: $oxd-button-vertical-padding--medium;
}

.oxd-button--large {
  font-size: $oxd-button-font-size--large;
  padding-top: $oxd-button-vertical-padding--large;
  padding-bottom: $oxd-button-vertical-padding--large;
}
