@import '../../../styles';
@import 'variables';

.oxd-icon-button {
  font-size: $oxd-icon-button-font-size;
  font-weight: $oxd-icon-button-font-weight;
  background-color: $oxd-icon-button-bg-color;
  color: $oxd-icon-button-font-color;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  min-width: $oxd-icon-button-size;
  min-height: $oxd-icon-button-size;
  padding: $oxd-icon-button-padding;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &:focus,
  &:hover {
    outline: 0;
    background-color: $oxd-icon-button--hover;
  }

  &:active {
    background-color: $oxd-icon-button--pressed;
  }

  &:disabled {
    background-color: $oxd-icon-button--disabled;
    color: $oxd-icon-button-font-color--disabled;
    cursor: not-allowed;
  }
}

.oxd-icon-button__icon {
  font-size: $oxd-icon-button-font-size;
  font-weight: $oxd-icon-button-font-weight;
  color: $oxd-list-button-font-color;
  cursor: pointer;

  &:focus,
  &:hover {
    outline: 0;
    color: $oxd-list-button--hover;
  }

  &:active {
    color: $oxd-list-button--pressed;
  }

  &.--disabled {
    color: $oxd-icon-button-font-color--disabled;
  }
}
