$oxd-pagination-page-item-border: $oxd-border !default;
$oxd-pagination-page-item-border-color: $oxd-interface-gray-color !default;
$oxd-pagination-page-item-margin: 0.3rem !default;
$oxd-pagination-page-item-font-size: 12px !default;
$oxd-pagination-page-item-font-family: $oxd-font-family !default;
$oxd-pagination-page-item-font-weight: 600 !default;
$oxd-pagination-page-item-font-color: $oxd-interface-gray-color !default;
$oxd-pagination-page-item-size: 40px !default;
$oxd-pagination-page-item--page-selected-bg-color: $oxd-background-light-gray-color !default;
$oxd-pagination-page-item--page-hover-font-color: $oxd-white-color !default;
$oxd-pagination-page-item--page-hover-bg-color: $oxd-primary-one-color !default;
$oxd-pagination-page-item--previous-next-hover-bg-color: $oxd-background-light-gray-color !default;
