@import '../../../styles';
@import 'variables';

.oxd-pagination-page-item {
  font-size: $oxd-pagination-page-item-font-size;
  font-family: $oxd-pagination-page-item-font-family;
  font-weight: $oxd-pagination-page-item-font-weight;
  background-color: $oxd-pagination-page-item-bg-color;
  color: $oxd-pagination-page-item-font-color;
  border-radius: 50%;
  cursor: pointer;
  height: $oxd-pagination-page-item-size;
  width: $oxd-pagination-page-item-size;
  margin: $oxd-pagination-page-item-margin;

  /* Remove the focus indicator on mouse-focus 
     https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
  &:focus:not(:focus-visible) {
    outline: 0;
  }

  &:focus-visible {
    outline: auto;
  }

  &--previous-next {
    border: $oxd-pagination-page-item-border
      $oxd-pagination-page-item-border-color;

    &:hover {
      border-color: transparent;
      background-color: $oxd-pagination-page-item--previous-next-hover-bg-color;
    }
  }

  &--page {
    border: 0;

    &-selected {
      color: $oxd-pagination-page-item-font-color;
      background-color: $oxd-pagination-page-item--page-selected-bg-color;
    }

    &:hover {
      color: $oxd-pagination-page-item--page-hover-font-color;
      background-color: $oxd-pagination-page-item--page-hover-bg-color;
    }
  }
}
