$skeleton-background-color: $oxd-background-light-gray-color !default;
$skeleton-shine-color: $oxd-interface-gray-lighten-1-color !default;
$skeleton-background-highlighted-color: darken($oxd-background-light-gray-color, 5%) !default;
