@import '../../../styles';
@import 'variables';

.oxd-skeleton {
  width: 100%;
  height: 1.2rem;
  overflow: hidden;
  position: relative;
  margin-bottom: 5px;
  border-radius: $oxd-border-radius;
  background-color: $skeleton-background-color;

  &.--animate {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      animation: loading 1.5s infinite;
      background: linear-gradient(
        90deg,
        rgba($skeleton-shine-color, 0),
        rgba($skeleton-shine-color, 0.3),
        rgba($skeleton-shine-color, 0)
      );
      transform: translate(-100%);
    }
  }

  &.--circle {
    width: 1.2rem;
    border-radius: 100%;
  }
  &.--animate-highlighted {
    background-color: $skeleton-background-highlighted-color;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      animation: loading 1.5s infinite;
      background: linear-gradient(
                      90deg,
                      rgba($skeleton-shine-color, 0),
                      rgba($skeleton-shine-color, 0.6),
                      rgba($skeleton-shine-color, 0)
      );
      transform: translate(-100%);
    }
  }
}

@keyframes loading {
  to {
    transform: translate(100%);
  }
}
