$oxd-progress-modal-sm-max-width: 450px !default;
$oxd-progress-modal-font-family: $oxd-font-family;
$oxd-progress-modal-box-shadow: 0 25px 35px 0 rgb(0 0 0 / 18%);
$oxd-progress-modal-title-font-weight: 600;
$oxd-progress-modal-title-font-size: 14px;


$oxd-overlay-background-color: rgba($oxd-black-color, 0.5) !default;

