@import '../../../styles';
@import 'variables';


.oxd {
  font-family: $oxd-progress-modal-font-family;
  line-height: 1.5;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 5rem auto;
  pointer-events: none;
}

.modal-sm {
  max-width: $oxd-progress-modal-sm-max-width;
}


.progress-modal-content {
  background-color: $oxd-modal-background-color;
  box-shadow: $oxd-progress-modal-box-shadow;
  padding: 1.2rem;
  border-radius: 1.2rem;

  border-width: 0;
}

h5 {
  margin-top: 0;
}

.oxd .progress-modal-title {

  color: #64728c;
  font-size: $oxd-progress-modal-title-font-size;
  font-weight: $oxd-progress-modal-title-font-weight;
  line-height: 1;
}


.oxd .progress-modal-header {
  border-bottom: 0;
  min-height: unset;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  -ms-flex-align: center;
  align-items: center;
  justify-content: flex-start;
}

.progress-modal-body {
  font-size: 14px;
  font-weight: 400;
  color: $oxd-interface-gray-color;
  padding: 0;
}
.progress-bar-modal {
  display: block;
}

.linear-progress-vue {
  background-color: $oxd-progress-bar-background-color;
  height: 8px;
  border-radius: 4px;
}

.progress {
  position: relative;
  display: block;
  width: 100%;
  margin: 0.5rem 0 1rem 0;
  overflow: hidden;
}
.progress .indeterminate {
  background-color: $oxd-secondary-four-color;
}
.progress .indeterminate:before {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}
.progress .indeterminate:after {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation-delay: 1.15s;
}

.oxd-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $oxd-overlay-z-index;
  width: 100%;
  height: 100%;
  outline: 0;
  box-sizing: border-box;
  background-color: $oxd-overlay-background-color;
}

@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; }
}

@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; }
}
.progress .loader {
  background-color: $oxd-secondary-four-color;
}
.progress .loader:before {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  width:  var(--value);
  border-radius: 0 4px 4px 0;
  transition: width 0.8s;
}

.loader-value {
  margin-left: 45%;
  color: $oxd-secondary-four-color;
}