$oxd-overlay-background-color: rgba($oxd-black-color, 0.5) !default;

$oxd-dialog-close-button-font-color: $oxd-white-color !default;
$oxd-dialog-close-button-bg-color: $oxd-background-gray-color !default;
$oxd-dialog-close-button-bg-color-hover: $oxd-interface-gray-darken-1-color !default;
$oxd-dialog-close-button-border-radius: 2.5rem !default;
$oxd-dialog-close-button-font-size: 1.1rem !default;
$oxd-dialog-close-button-font-weight: 600 !default;
$oxd-dialog-close-button-size: 1.5625rem !default;
$oxd-dialog-close-button-top: -0.5rem !default;
$oxd-dialog-close-button-right: -0.5rem !default;

$oxd-dialog-sheet-box-shadow: 0 25px 35px 0 rgba($oxd-black-color, 0.18) !default;
