@import '../../../styles';
@import 'variables';

.oxd-dialog-close-button {
  cursor: pointer;
  padding: 0;
  border: 0;
  outline: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: normal;
  width: $oxd-dialog-close-button-size;
  height: $oxd-dialog-close-button-size;
  min-width: unset;
  min-height: unset;
  color: $oxd-dialog-close-button-font-color;
  font-size: $oxd-dialog-close-button-font-size;
  font-weight: $oxd-dialog-close-button-font-weight;
  border-radius: $oxd-dialog-close-button-border-radius;
  background-color: $oxd-dialog-close-button-bg-color;

  &:hover {
    background-color: $oxd-dialog-close-button-bg-color-hover;
  }
}