@import '../../../styles';
@import 'variables';

.oxd-dialog-close-button-wrapper {
  cursor: pointer;
  padding: 0;
  border: 0;
  outline: 0;
  width: $oxd-dialog-close-button-size;
  height: $oxd-dialog-close-button-size;
  background-color: $oxd-dialog-close-button-bg-color;
  border-radius: $oxd-dialog-close-button-border-radius;
  .oxd-dialog-close-button-icon {
    position: relative;
    top: -0.5px;
    left: 0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $oxd-white-color;
    font-size: $oxd-dialog-close-button-font-size;
  }
  &:hover {
    background-color: $oxd-dialog-close-button-bg-color-hover;
  }
}
