$oxd-grid-four-margin: 0 auto !default;
$oxd-grid-four-gap: 0.25rem !default;
$oxd-grid-four-md-gap: 0.25rem !default;
$oxd-grid-four-lg-gap: 0.25rem !default;
$oxd-grid-four-md-template-columns: repeat(2, 1fr) !default;
$oxd-grid-four-lg-template-columns: repeat(4, 1fr) !default;

$oxd-grid-three-margin: 0 auto !default;
$oxd-grid-three-gap: 0.25rem !default;
$oxd-grid-three-md-gap: 0.25rem !default;
$oxd-grid-three-lg-gap: 0.25rem !default;
$oxd-grid-three-md-template-columns: repeat(2, 1fr) !default;
$oxd-grid-three-lg-template-columns: repeat(3, 1fr) !default;

$oxd-grid-two-margin: 0 auto !default;
$oxd-grid-two-gap: 0.25rem !default;
$oxd-grid-two-md-gap: 0.25rem !default;
$oxd-grid-two-lg-gap: 0.25rem !default;
$oxd-grid-two-md-template-columns: repeat(2, 1fr) !default;
$oxd-grid-two-lg-template-columns: repeat(2, 1fr) !default;

$oxd-grid-item-xs-padding: 0rem !default;
$oxd-grid-item-md-padding: 0.25rem !default;
