$oxd-grid-eight-margin: 0 auto !default;
$oxd-grid-eight-gap: 0.25rem !default;
$oxd-grid-eight-md-gap: 0.25rem !default;
$oxd-grid-eight-lg-gap: 0.25rem !default;
$oxd-grid-eight-md-template-columns: repeat(2, 1fr) !default;
$oxd-grid-eight-lg-template-columns: repeat(8, 1fr) !default;

$oxd-grid-seven-margin: 0 auto !default;
$oxd-grid-seven-gap: 0.25rem !default;
$oxd-grid-seven-md-gap: 0.25rem !default;
$oxd-grid-seven-lg-gap: 0.25rem !default;
$oxd-grid-seven-md-template-columns: repeat(2, 1fr) !default;
$oxd-grid-seven-lg-template-columns: repeat(7, 1fr) !default;

$oxd-grid-six-margin: 0 auto !default;
$oxd-grid-six-gap: 0.25rem !default;
$oxd-grid-six-md-gap: 0.25rem !default;
$oxd-grid-six-lg-gap: 0.25rem !default;
$oxd-grid-six-md-template-columns: repeat(2, 1fr) !default;
$oxd-grid-six-lg-template-columns: repeat(6, 1fr) !default;

$oxd-grid-five-margin: 0 auto !default;
$oxd-grid-five-gap: 0.25rem !default;
$oxd-grid-five-md-gap: 0.25rem !default;
$oxd-grid-five-lg-gap: 0.25rem !default;
$oxd-grid-five-md-template-columns: repeat(2, 1fr) !default;
$oxd-grid-five-lg-template-columns: repeat(5, 1fr) !default;

$oxd-grid-four-margin: 0 auto !default;
$oxd-grid-four-gap: 0.25rem !default;
$oxd-grid-four-md-gap: 0.25rem !default;
$oxd-grid-four-lg-gap: 0.25rem !default;
$oxd-grid-four-md-template-columns: repeat(2, 1fr) !default;
$oxd-grid-four-lg-template-columns: repeat(4, 1fr) !default;

$oxd-grid-three-margin: 0 auto !default;
$oxd-grid-three-gap: 0.25rem !default;
$oxd-grid-three-md-gap: 0.25rem !default;
$oxd-grid-three-lg-gap: 0.25rem !default;
$oxd-grid-three-md-template-columns: repeat(2, 1fr) !default;
$oxd-grid-three-lg-template-columns: repeat(3, 1fr) !default;

$oxd-grid-two-margin: 0 auto !default;
$oxd-grid-two-gap: 0.25rem !default;
$oxd-grid-two-md-gap: 0.25rem !default;
$oxd-grid-two-lg-gap: 0.25rem !default;
$oxd-grid-two-md-template-columns: repeat(2, 1fr) !default;
$oxd-grid-two-lg-template-columns: repeat(2, 1fr) !default;

$oxd-grid-item-xs-padding: 0.25rem 0.5rem !default;
$oxd-grid-item-md-padding: 0.5rem 0.75rem !default;
