@import '../../../styles';
@import 'variables';

.oxd-grid-item {
  min-width: 0;
  @include oxd-respond-to('xs') {
    padding: $oxd-grid-item-xs-padding;
  }

  @include oxd-respond-to('md') {
    padding: $oxd-grid-item-md-padding;
  }
}
