$oxd-label-font-size: 12px !default;
$oxd-label-font-weight: 700 !default;
$oxd-label-font-family: $oxd-font-family !default;
$oxd-label-color: $oxd-interface-gray-darken-1-color !default;
$oxd-label-margin: 0 !default;

$oxd-label-help-text-font-family: $oxd-font-family !default;
$oxd-label-help-text-font-size: 0.75rem !default;
$oxd-label-help-text-font-weight: 400 !default;
$oxd-label-help-text-color: $oxd-interface-gray-color !default;
