@import '../../../styles';
@import 'variables';

.oxd-calendar-dropdown {
  display: block;
  position: absolute;
  list-style: none;
  left: 0;
  right: 0;
  top: $oxd-calendar-selector-top-margin;
  padding: $oxd-calendar-selector-padding;
  background-color: $oxd-white-color;
  max-height: $oxd-calendar-selector-height;
  overflow: hidden auto;
  margin: 0;
  z-index: $oxd-dropdown-z-index;
  border-radius: $oxd-calendar-controller-item-radius;
  min-width: max-content;
  border: 1px solid #e9eaec;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 8%);
  @include oxd-scrollbar();
}

.transition-fade-down-enter-from,
.transition-fade-down-leave-to {
  transform: translateY(-20px);
  opacity: 0;
}

.transition-fade-down-enter-active,
.transition-fade-down-leave-active {
  transition: transform 300ms cubic-bezier(0.53, 2, 0.36, 0.85),
    opacity 300ms cubic-bezier(0.53, 2, 0.36, 0.85);
}
