$oxd-input-field-error-color: $oxd-feedback-danger-color !default;
$oxd-input-field-required-asterisk-color: $oxd-input-control-font-color !default;
$oxd-input-field-bottom-space: 1rem !default;

$oxd-input-group-message-margin-top: 4px !default;
$oxd-input-group-message-font-size: 12px !default;
$oxd-input-group-message-font-weight: 600 !default;

$oxd-input-group-label-margin-bottom: 0.4rem !default;
$oxd-input-group-label-icon-margin-right: 4px !default;
$oxd-input-group-label-icon-size: 0.875rem !default;

$oxd-input-field-hint-margin-positioned-bottom: 4px 0 0 0;
$oxd-input-field-hint-margin-positioned-top: 0 0 0 2px;
$oxd-input-field-hint-font-family: $oxd-font-family !default;
$oxd-input-field-hint-font-size: 0.75rem !default;
$oxd-input-field-hint-font-weight: 400 !default;
$oxd-input-field-hint-color: $oxd-interface-gray-color !default;
