$oxd-input-field-error-color: $oxd-feedback-danger-color !default;
$oxd-input-field-bottom-space: 1rem !default;

$oxd-input-group-message-margin-top: 4px !default;
$oxd-input-group-message-font-size: 12px !default;
$oxd-input-group-message-font-weight: 600 !default;

$oxd-input-group-label-margin-bottom: 0.4rem !default;
$oxd-input-group-label-icon-margin-right: 4px !default;
