@import '../../../styles';
@import 'variables';

.oxd-input-group {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__message {
    margin-top: $oxd-input-group-message-margin-top;
    font-size: $oxd-input-group-message-font-size;
    font-weight: $oxd-input-group-message-font-weight;
  }

  &__label-wrapper {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: $oxd-input-group-label-margin-bottom;
  }

  &__label-icon {
    margin-right: $oxd-input-group-label-icon-margin-right;
  }
}
