@import '../../../styles';
@import 'variables';

.oxd-input-group {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__message {
    margin-top: $oxd-input-group-message-margin-top;
    font-size: $oxd-input-group-message-font-size;
    font-weight: $oxd-input-group-message-font-weight;
  }

  &__label-wrapper {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: $oxd-input-group-label-margin-bottom;
    &:empty {
      display: none;
    }
  }

  &__label-icon {
    margin-right: $oxd-input-group-label-icon-margin-right;
  }
}
.oxd-label-help-text{
  font-family: $oxd-label-help-text-font-family;
  font-size: $oxd-label-help-text-font-size;
  font-weight:$oxd-label-help-text-font-weight;
  color: $oxd-label-help-text-color;
  margin-left: 2px;
  overflow-wrap: break-word;
}
