@import '../../../styles';
@import 'variables';

.oxd-input-field-error-message {
  color: $oxd-input-field-error-color !important;
}

.oxd-input-field-bottom-space {
  margin-bottom: $oxd-input-field-bottom-space;
}

.oxd-input-field-required:after {
  content: '*';
  color: $oxd-input-field-required-asterisk-color;
}
