/* OXD - Primary Colors */
$oxd-primary-one-color: #ff7b1d !default;
$oxd-primary-two-color: #17a954 !default;

/* OXD - Secondary Colors */
$oxd-secondary-one-color: #ffaa00 !default;
$oxd-secondary-two-color: #f4eec7 !default;
$oxd-secondary-three-color: #ccda46 !default;
$oxd-secondary-four-color: #76bc21 !default;

/* OXD - Interface Colors */
$oxd-interface-gray-darken-2-color: #38455d !default;
$oxd-interface-gray-darken-1-color: #64728c !default;
$oxd-interface-gray-color: #929baa !default;
$oxd-interface-gray-lighten-1-color: #cfd3de !default;
$oxd-interface-gray-lighten-2-color: #e8eaef !default;

/* OXD - Background & Overly Colors */
$oxd-background-light-gray-color: #f1f2f5 !default;
$oxd-background-pastel-white-color: #f6f5fb !default;
$oxd-background-white-shadow-color: #fafafc !default;

/* OXD - Feedback Colors */
$oxd-feedback-info-color: #f1f2f5 !default;
$oxd-feedback-error-color: #eb0910 !default;
$oxd-feedback-warn-color: #ffa62f !default;
$oxd-feedback-success-color: #34bc40 !default;

$oxd-white-color: #ffffff !default;
