/* OXD - Primary Colors */
$oxd-primary-one-color: #ff7b1d !default;
$oxd-primary-two-color: #17a954 !default;

/* OXD - Secondary Colors */
$oxd-secondary-one-color: #ffaa00 !default;
$oxd-secondary-two-color: #f4eec7 !default;
$oxd-secondary-three-color: #ccda46 !default;
$oxd-secondary-four-color: #76bc21 !default;

/* OXD - Interface Colors */
$oxd-interface-gray-darken-2-color: #38455d !default;
$oxd-interface-gray-darken-1-color: #64728c !default;
$oxd-interface-gray-color: #929baa !default;
$oxd-interface-gray-lighten-1-color: #cfd3de !default;
$oxd-interface-gray-lighten-2-color: #e8eaef !default;
$oxd-interface-gray-lighten-3-color: #dee2e6 !default;
$oxd-interface-gray-lighten-4-color: #efefef !default;
$oxd-interface-gray-lighten-5-color: #eeeff3 !default;

/* OXD - Background & Overly Colors */
$oxd-background-gray-color: #b8bdc7 !default;
$oxd-background-light-gray-color: #f1f2f5 !default;
$oxd-background-pastel-white-color: #f6f5fb !default;
$oxd-background-white-shadow-color: #fafafc !default;
$oxd-background-white-color: #fafafa !default;

/* OXD - Feedback Colors */
$oxd-feedback-info-color: #1e6ceb !default;
$oxd-feedback-danger-color: #eb0910 !default;
$oxd-feedback-warn-color: #ffa62f !default;
$oxd-feedback-success-color: #34bc40 !default;
$oxd-feedback-reject-color: #ac0c0c !default;

$oxd-white-color: #ffffff !default;
$oxd-black-color: #000000 !default;

/* OXD - Gradient Colors */
$oxd-primary-gradient-start-color: #ff8226 !default;
$oxd-primary-gradient-end-color: #f35c17 !default;
$oxd-primary-gradient: linear-gradient(
  90deg,
  $oxd-primary-gradient-start-color 0%,
  $oxd-primary-gradient-end-color 90%
) !default;
$oxd-primary-secondary-start-color: #ff5e00 !default;
$oxd-primary-secondary-end-color: #ffa46b !default;
$oxd-secondary-gradient: linear-gradient(
  90deg,
  $oxd-primary-secondary-start-color 0%,
  $oxd-primary-secondary-end-color 90%
) !default;

/* OXD - Other Theme Colors */
$oxd-primary-input-color: $oxd-primary-one-color !default;
$oxd-progress-bar-background-color: #f2fce6 !default;