.oxd-menu-icon {
  height: 22px;
  width: 22px;
  background-repeat: no-repeat;
  background-size: 22px 22px;
  display: inline-block;
  vertical-align: middle;
  &.icon-search {
    background-image: url(~assets/images/magnifying-icon.png);
  }
  &.icon-home {
    background-image: url(~assets/images/home-icon.png);
  }
  &.icon-home-w {
    background-image: url(~assets/images/home-icon-w.png);
  }
  &.icon-pim {
    background-image: url(~assets/images/pim-icon.png);
  }
  &.icon-pim-w {
    background-image: url(~assets/images/pim-icon-w.png);
  }
  &.icon-time {
    background-image: url(~assets/images/time-icon.png);
  }
  &.icon-recruitment {
    background-image: url(~assets/images/recruitment-icon.png);
  }
  &.icon-recruitment-w {
    background-image: url(~assets/images/recruitment-icon-w.png);
  }
  &.icon-leave {
    background-image: url(~assets/images/leave-icon.png);
  }
  &.icon-leave-w {
    background-image: url(~assets/images/leave-icon-w.png);
  }
  &.icon-discipline {
    background-image: url(~assets/images/discipline-icon.png);
  }
  &.icon-training {
    background-image: url(~assets/images/training-icon.png);
  }
  &.icon-development {
    background-image: url(~assets/images/development-icon.png);
  }
  &.icon-onboarding {
    background-image: url(~assets/images/onboarding-icon.png);
  }
  &.icon-expences {
    background-image: url(~assets/images/expences-icon.png);
  }
  &.icon-report {
    background-image: url(~assets/images/report-icon.png);
  }
  &.icon-admin {
    background-image: url(~assets/images/admin-icon.png);
  }
  &.icon-admin-w {
    background-image: url(~assets/images/admin-icon-w.png);
  }
  &.icon-account-edit {
    background-image: url(~assets/images/accountedit-icon.png);
  }
  &.icon-myinfo {
    background-image: url(~assets/images/myinfo-icon.png);
  }
  &.icon-recent {
    background-image: url(~assets/images/recent-icon.png);
  }
  &.icon-user {
    background-image: url(~assets/images/user-icon.png);
  }
  &.icon-log {
    background-image: url(~assets/images/log-icon.png);
  }
}
