@mixin oxd-input-control {
  box-sizing: border-box;
  font-family: $oxd-input-control-font-family;
  color: $oxd-input-control-font-color;
  font-size: $oxd-input-control-font-size;
  font-weight: $oxd-input-control-font-weight;
  line-height: $oxd-input-control-line-height;
  border-radius: $oxd-input-control-border-radius;
  padding: $oxd-input-control-vertical-padding
    $oxd-input-control-horizontal-padding;
}

@mixin oxd-input-control-size {
  width: $oxd-input-control-width;
}

@mixin oxd-scrollbar(
  $thumb-color: $oxd-scrollbar-thumb-color,
  $track-color: $oxd-scrollbar-track-color,
  $size: $oxd-scrollbar-size,
  $arrow-color: $oxd-scrollbar-arrow-color
) {
  // Firefox
  scrollbar-color: $thumb-color $track-color;
  scrollbar-width: thin;

  // Chrome/Edge/Safari
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $thumb-color;
    border-radius: $oxd-scrollbar-thumb-border-radius;
  }

  &::-webkit-scrollbar-track {
    background: $track-color;
  }

  // IE
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    & {
      scrollbar-face-color: $thumb-color;
      scrollbar-track-color: $track-color;
      scrollbar-arrow-color: $arrow-color;
    }
  }
}

@mixin oxd-flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin oxd-respond-to($breakpoint) {
  $raw-query: map-get($oxd_breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(
      type-of($raw-query) == 'string',
      unquote($raw-query),
      inspect($raw-query)
    );

    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
         + 'Please make sure it is defined in `$oxd_breakpoints` map.';
  }
}

// source: https://codepen.io/jakob-e/pen/WvrJwN
@mixin aspect-ratio($arglist... /*$ratio or $width, $height*/) {
  $map: keywords($arglist);
  $height: map-get($map, height) or nth-value($arglist, 2);
  $width: map-get($map, width) or nth-value($arglist, 1);
  $ratio: map-get($map, ratio) or
    if($width and $height, $width/$height, nth-value($arglist, 1)) or 1;
  $padding: calc((1 / #{$ratio}) * 100%);
  &::before,
  &::after {
    content: '';
    display: table;
    clear: both;
    width: 1px;
    margin-left: -1px;
  }
  &::before {
    float: left;
    padding-bottom: $padding;
  }
}

// Helper function
// Return null rather than throwing an error if index is outside list range.
@function nth-value($list, $index) {
  @return if(length($list) >= $index, nth($list, $index), null);
}

@mixin truncate($rows, $line-height) {
  overflow: hidden;
  position: relative;
  word-wrap: break-word;
  line-height: $line-height;
  justify-content: space-between;
  max-height: $line-height * $rows;

  &:after {
    content: '';
    right: 0;
    bottom: 0;
    width: inherit;
    position: absolute;
    height: $line-height;
    background: linear-gradient(to right, rgba(#fff, 0) 0%, rgba(#fff, 1) 100%);
  }

  // If supports line-clamp then add an ellipsis overflow and hide the gradient
  // This will work in Chrome and Opera, otherwise a gradient will gradually hide the text.

  @supports (-webkit-line-clamp: $rows) {
    display: -webkit-box;
    -webkit-line-clamp: $rows;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;

    &:after {
      display: none;
    }
  }
}
