/* Global */
$oxd-border: 1px solid !default;
$oxd-border-radius: 1.2rem !default;
$oxd-scrollbar-thumb-border-radius: 20px !default;
$oxd-scrollbar-thumb-color: $oxd-interface-gray-lighten-1-color !default;
$oxd-scrollbar-track-color: $oxd-background-pastel-white-color !default;
$oxd-scrollbar-arrow-color: $oxd-interface-gray-color !default;
$oxd-scrollbar-size: 0.5rem !default;
$oxd_breakpoints: (
  'xs': (
    min-width: 0px,
  ),
  'sm': (
    min-width: 600px,
  ),
  'md': (
    min-width: 800px,
  ),
  'lg': (
    min-width: 1000px,
  ),
  'xl': (
    min-width: 1200px,
  ),
);

/* Input Control */
$oxd-input-border-focus-color: $oxd-interface-gray-color !default;
$oxd-input-border-focus-box-shadow-color: rgba(
  darken($oxd-input-border-focus-color, 10%),
  0.12
) !default;
$oxd-input-control-font-size: 12px !default;
$oxd-input-control-font-color: $oxd-interface-gray-darken-1-color !default;
$oxd-input-control-font-weight: 400 !default;
$oxd-input-control-border-radius: 0.65rem !default;
$oxd-input-control-line-height: 1.5 !default;
$oxd-input-control-font-family: $oxd-font-family !default;
$oxd-input-control-horizontal-padding: 0.5rem !default;
$oxd-input-control-vertical-padding: 0.675rem !default;
$oxd-input-control-border--active: $oxd-border
  $oxd-interface-gray-lighten-2-color !default;
$oxd-input-control-border--focus: $oxd-border $oxd-input-border-focus-color !default;
$oxd-input-control-border--error: $oxd-border $oxd-feedback-danger-color !default;
$oxd-input-control-box-shadow--focus: 1px 1px 6px
  $oxd-input-border-focus-box-shadow-color !default;
$oxd-input-control-box-shadow--error: 0 0 5px 0.2rem rgba(223, 9, 16, 0.1) !default;
$oxd-input-control-width: 100% !default;
$oxd-form-min-height: 400px;
$oxd-input-control-background--disabled: #f0f0f6 !default;

// Dropdown
$oxd-dropdown-shadow: 0px 5px 15px -8px rgba(0, 0, 0, 0.15) !default;
$oxd-dropdown-border: 1px solid $oxd-interface-gray-lighten-2-color !default;
$oxd-dropdown-border-radius: 0.65rem !default;
$oxd-dropdown-background-color: $oxd-white-color !default;
$oxd-dropdown-padding: 4px !default;
$oxd-dropdown-ul-padding: 0.5rem 0.25rem !default;
$oxd-dropdown-li-padding: 0.25rem 0.5rem !default;
$oxd-dropdown-item-hover-color: #f6f7f9 !default;
$oxd-dropdown-item-selected-color: $oxd-interface-gray-lighten-2-color !default;
$oxd-dropdown-dropdown-margin: 5px !default;

// z axis index
$oxd-brand-z-index: 1 !default;
$oxd-dropdown-z-index: 300 !default;
$oxd-tree-view-z-index: 500 !default;
$oxd-drawer-overlay-z-index: 950 !default;
$oxd-drawer-z-index: 951 !default;
$oxd-form-z-index: 999 !default;
$oxd-overlay-z-index: 1000 !default;
$oxd-sidepanel-z-index: 1001 !default;
$oxd-dialog-z-index: 1500 !default;
$oxd-tooltip-bg-z-index: 2000 !default;
$oxd-tooltip-font-z-index: 2001 !default;
$oxd-date-z-index: 9999 !default;

// modal
$oxd-modal-background-color: $oxd-white-color !default;

// Text
$oxd-noemal-text-14: 0.875rem; //equals to 14px

// Primary color lighter shades. Declared separately here to make it easier to override with
// theme --var variables from vue-app, since rgba() does not work with --var's.
$oxd-primary-input-color-alpha-05: rgba(
  $oxd-primary-input-color,
  0.05
) !default;
$oxd-primary-input-color-alpha-10: rgba($oxd-primary-input-color, 0.1) !default;
$oxd-primary-input-color-lighten-10: lighten(
  $oxd-primary-input-color,
  10%
) !default;
