/* Input Control */
$oxd-input-control-font-size: 12px !default;
$oxd-input-control-font-color: $oxd-interface-gray-darken-1-color !default;
$oxd-input-control-font-weight: 400 !default;
$oxd-input-control-border-radius: 0.65rem !default;
$oxd-input-control-line-height: 1.5 !default;
$oxd-input-control-font-family: $oxd-font-family !default;
$oxd-input-control-horizontal-padding: 0.5rem !default;
$oxd-input-control-vertical-padding: 0.675rem !default;
