$oxd-toast-icon-color-default: $oxd-interface-gray-darken-1-color !default;
$oxd-toast-icon-color: $oxd-white-color !default;
$oxd-toast-font-color-default: $oxd-interface-gray-darken-1-color !default;
$oxd-toast-font-color: $oxd-white-color !default;
$oxd-toast-border-radius: 3.2rem !default;
$oxd-toast-padding: 1rem !default;
$oxd-toast-box-shadow: 0px 25px 35px 0 rgba(0, 0, 0, 0.18) !default;
$oxd-toast-opacity: 0.8 !default;
$oxd-toast-content-padding-horizontal: 0.8rem !default;

$oxd-toast-bg-color-default: $oxd-white-color !default;
$oxd-toast-bg-color-success: $oxd-feedback-success-color !default;
$oxd-toast-bg-color-warn: $oxd-feedback-warn-color !default;
$oxd-toast-bg-color-error: $oxd-feedback-danger-color !default;
$oxd-toast-bg-color-info: $oxd-feedback-info-color !default;

$oxd-toast-icon-wrap-size: 3.2rem !default;
$oxd-toast-icon-wrap-padding: 1rem !default;
$oxd-toast-icon-font-size: 1.875rem !default;

$oxd-toast-close-size: 1rem !default;
$oxd-toast-close-padding: 0.2rem !default;
$oxd-toast-close-border-radius: 1rem !default;

$oxd-toast-container-space-between: 0.4rem !default;
