@import '../../../styles';
@import 'variables';

.oxd-toast-container {
  display: flex;
  flex-direction: column-reverse;
  &--bottom {
    flex-direction: column-reverse;
  }
  &--top {
    flex-direction: column;
  }
}

.oxd-toast-container--toast {
  margin-bottom: $oxd-toast-container-space-between;
}

.oxd-toast-fade {
  // https://v3.vuejs.org/guide/transitions-enterleave.html#transitioning-single-elements-components
  &-enter-active {
    transition: opacity 0.5s ease-out;
  }
  &-enter-from {
    opacity: 0;
  }

  &-leave-active {
    transition: opacity 1s cubic-bezier(1, 0.5, 0.8, 1);
  }
  &-leave-to {
    opacity: 0 !important;
  }
}
