@import '../../../styles';
@import 'variables';

.oxd-toast {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: $oxd-toast-icon-color;
  box-shadow: $oxd-toast-box-shadow;
  padding: $oxd-toast-padding;
  border-radius: $oxd-toast-border-radius;
  opacity: $oxd-toast-opacity;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  &--default {
    color: $oxd-toast-icon-color-default;
    background-color: $oxd-toast-bg-color-default;
  }

  &--success {
    background-color: $oxd-toast-bg-color-success;
  }

  &--warn {
    background-color: $oxd-toast-bg-color-warn;
  }

  &--error {
    background-color: $oxd-toast-bg-color-error;
  }

  &--info {
    background-color: $oxd-toast-bg-color-info;
  }

  &--persistent {
    opacity: 1;
    cursor: unset;
  }
}

.oxd-toast-start {
  display: flex;
  flex-direction: row;
}

.oxd-toast-content {
  display: flex;
  flex-direction: column;
  padding-left: $oxd-toast-content-padding-horizontal;
  padding-right: $oxd-toast-content-padding-horizontal;
  color: $oxd-toast-font-color;
  justify-content: center;

  &--default {
    color: $oxd-toast-font-color-default;
  }
}

.oxd-toast-content-text {
  color: inherit;
}
