@import '../../../styles';

.oxd-list-container {
  margin-top: 2rem;
  background-color: #fff;
  border-radius: 1.2rem;
  .oxd-table-left-panel {
    &.with-filters {
      margin-top: 1.25rem;
      margin-bottom: 1.25rem;
    }
  }
  .table-card-list-wrapper {
    width: 100%;
    height: 100%;
    border-left: 1px solid $oxd-interface-gray-lighten-4-color;
    .list-table-filter {
      padding-bottom: 0;
      :deep(.oxd-table-filter-header) {
        .oxd-table-filter-header-title {
          .oxd-table-filter-title {
            font-weight: 600;
            color: $oxd-interface-gray-color;
            font-size: 0.875rem;
          }
        }
      }
      &.items-selected {
        :deep(.oxd-table-filter-header) {
          .oxd-table-filter-header-title {
            .oxd-table-filter-title {
              font-weight: 700;
              color: $oxd-interface-gray-darken-1-color;
            }
          }
        }
      }
      :deep(.oxd-divider) {
        margin-top: 0.55rem;
        margin-bottom: 0;
      }
    }
  }
  &.table-left-panel-open {
    .table-card-list-wrapper {
      width: calc(100% - 230px);
    }
  }
  .oxd-classic-table {
    flex-wrap: nowrap;
    :deep(.oxd-icon-button) {
      font-size: 15px;
    }
    :deep(.oxd-table-th) {
      text-align: left;
      padding-top: 0.65rem;
      padding-bottom: 0.65rem;
    }
    :deep(.oxd-table-cell) {
      flex-wrap: nowrap;
      .oxd-select-wrapper {
        max-width: 267px;
      }
    }
  }
  .list-table-filter .bulk-actions button.oxd-button {
    margin-left: 0.5rem;
  }
}
.margin-left {
  margin-left: 0.5rem;
}
.list-pagination {
  height: initial;
  line-height: initial;
  padding: 25px;
  box-shadow: none;
}
.oxd-button {
  display: flex;
  align-items: center;
  &:disabled {
    :deep(svg) {
      * {
        fill: $oxd-white-color !important;
      }
    }
  }
  &.oxd-btn-info-custom {
    :deep(svg) {
      * {
        fill: #17a2b8;
      }
    }
    color: #17a2b8;
    &:disabled {
      background-color: $oxd-interface-gray-lighten-1-color !important;
      color: $oxd-white-color !important;
    }
  }
  &.oxd-btn-danger-custom {
    :deep(svg) {
      * {
        fill: $oxd-feedback-danger-color;
      }
    }
    &:disabled {
      background-color: $oxd-interface-gray-lighten-1-color !important;
      color: $oxd-white-color !important;
    }
  }
}