$oxd-linear-progress-background-color: $oxd-interface-gray-lighten-1-color !default;
$oxd-linear-progress-fill-color: $oxd-interface-gray-darken-1-color !default;
$oxd-linear-progress-value-text-color: $oxd-interface-gray-darken-1-color !default;

$oxd-linear-progress-bar-height: 8px !default;
$oxd-linear-progress-bar-radius: 4px !default;

$oxd-linear-progress-value-text-size: 12px !default;
$oxd-linear-progress-value-text-weight: 800 !default;
