$oxd-text-font-family: $oxd-font-family !default;
$oxd-text-color: $oxd-interface-gray-darken-1-color !default;

$oxd-text-h1-font-size: 102px !default;
$oxd-text-h1-font-weight: 300 !default;
$oxd-text-h1-letter-spacing: -1.5px !default;
$oxd-text-h1-color: $oxd-text-color !default;

$oxd-text-h2-font-size: 64px !default;
$oxd-text-h2-font-weight: 300 !default;
$oxd-text-h2-letter-spacing: -0.5px !default;
$oxd-text-h2-color: $oxd-text-color !default;

$oxd-text-h3-font-size: 51px !default;
$oxd-text-h3-font-weight: 400 !default;
$oxd-text-h3-letter-spacing: 0px !default;
$oxd-text-h3-color: $oxd-text-color !default;

$oxd-text-h4-font-size: 36px !default;
$oxd-text-h4-font-weight: 400 !default;
$oxd-text-h4-letter-spacing: 0.25px !default;
$oxd-text-h4-color: $oxd-text-color !default;

$oxd-text-h5-font-size: 25px !default;
$oxd-text-h5-font-weight: 400 !default;
$oxd-text-h5-letter-spacing: 0px !default;
$oxd-text-h5-color: $oxd-text-color !default;

$oxd-text-h6-font-size: 21px !default;
$oxd-text-h6-font-weight: 400 !default;
$oxd-text-h6-letter-spacing: 0.15px !default;
$oxd-text-h6-color: $oxd-text-color !default;

$oxd-text-subtitle-1-font-size: 16px !default;
$oxd-text-subtitle-1-font-weight: 400 !default;
$oxd-text-subtitle-1-letter-spacing: 0.15px !default;
$oxd-text-subtitle-1-color: $oxd-text-color !default;

$oxd-text-subtitle-2-font-size: 14px !default;
$oxd-text-subtitle-2-font-weight: 400 !default;
$oxd-text-subtitle-2-letter-spacing: 0.15px !default;
$oxd-text-subtitle-2-color: $oxd-text-color !default;

$oxd-text-card-title-font-size: 16px !default;
$oxd-text-card-title-font-weight: 700 !default;
$oxd-text-card-title-letter-spacing: 0.15px !default;
$oxd-text-card-title-color: $oxd-text-color !default;

$oxd-text-modal-title-font-size: 16px !default;
$oxd-text-modal-title-font-weight: 600 !default;
$oxd-text-modal-title-letter-spacing: 0.15px !default;
$oxd-text-modal-title-color: $oxd-text-color !default;

$oxd-text-toast-title-font-size: 14px !default;
$oxd-text-toast-title-font-weight: 600 !default;
$oxd-text-toast-title-letter-spacing: 0.15px !default;
$oxd-text-toast-title-color: $oxd-text-color !default;

$oxd-text-toast-message-font-size: 12px !default;
$oxd-text-toast-message-font-weight: 600 !default;
$oxd-text-toast-message-letter-spacing: 0.15px !default;
$oxd-text-toast-message-color: $oxd-text-color !default;

$oxd-text-p-color: $oxd-text-color !default;

$oxd-text-span-color: $oxd-text-color !default;
