
@import '../../../styles';
@import './variables';

.oxd-table-left-panel {
  position: relative;
  border-right: 1px solid $oxd-interface-gray-lighten-4-color;
  padding-right: 10px;
  padding-left: 1rem;
  height: 100%;
  .table-left-panel-divider {
    width: calc(100% + 10px);
  }
  .body {
    margin-top: 1rem;
  }
  .oxd-table-left-panel-toggle-btn {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 39px;
    right: -15px;
    font-size: 14px;
    min-width: 22px;
    min-height: 22px;
    background-color: $oxd-white-color;
    border: 1px solid $oxd-interface-gray-lighten-2-color;
    &:hover,
    &:focus {
      color: $oxd-interface-gray-darken-1-color;
    }
  }
}

.list {
  padding-top: 1.25rem !important;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: flex;
      align-items: center;
      .count-container {
        display: flex;
        align-items: center;
        width: auto;
        padding: 0.5rem;
        border-radius: 1.5rem;
        width: 100%;
        .left-icon {
          height: 1.5rem;
          width: 1.5rem;
        }
        .oxd-dropdown-selected-chip {
          position: relative;
          min-width: 20px;
          width: auto;
          padding: 4px 9px;
          font-size: 0.75rem;
          font-weight: 700;
          font-family: $oxd-left-panel-font-family;
        }
        &:hover,
        &.active {
          background-color: rgba(100, 114, 140, 0.1);
          cursor: pointer;
        }
      }
      .oxd-label {
        margin: 0.25rem 0.5rem;
        font-size: 0.75rem;
        line-height: normal;
      }
      &:not(:last-child) {
        margin-bottom: 5px;
      }
      &.collapsed {
        justify-content: center;
        .count-container {
          display: table-cell;
          text-align: center;
          vertical-align: middle;
          width: auto;
        }
      }
    }
  }
}
.table-header-action-btn {
  &.no-label {
    min-width: initial;
    ::v-deep(.oxd-button-label-wrapper) {
      display: none;
    }
  }
}
