@import '../../../styles/_colors.scss';

$oxd-wizard-tab-border-radius: 20px;
$oxd-wizard-tab-circle-border-radius: 35px;
$oxd-wizard-tab-circle-size: 35px;
$oxd-wizard-tab-margin: 10px;

$oxd-wizard-tab-width-default: 200px;
$oxd-wizard-tab-width-1200: 160px;
$oxd-wizard-tab-width-960: 120px;
$oxd-wizard-tab-width-720: 100px;
$oxd-wizard-tab-width-720-last: 36px;

