@import '../../../styles';
@import './variables';
@import './../../../styles/colors';

.oxd-table-left-panel {
  position: relative;
  border-right: 1px solid $oxd-interface-gray-lighten-4-color;
  padding-right: 10px;
  .table-left-panel-divider {
    width: calc(100% + 10px);
  }
  .body {
    margin-top: 1rem;
  }
  .oxd-table-left-panel-toggle-btn {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 38px;
    right: -15px;
    font-size: 14px;
    min-width: 22px;
    min-height: 22px;
    background-color: $oxd-white-color;
    border: 1px solid $oxd-interface-gray-lighten-2-color;
    &:hover,
    &:focus {
      color: $oxd-interface-gray-darken-1-color;
    }
  }
}
.w-100 {
  width: 100%;
}