@import '../../../styles';
@import './variables';

.oxd-table-left-panel {
  position: relative;
  padding-right: 10px;
  height: 100%;
  &--separator {
    width: auto;
    margin: 0rem 0.5rem;
  }
  &--body {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem !important;
  }

  //new
  .oxd-table-left-panel--header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .table-header-action-btn-container {
      margin-bottom: 1rem;
    }
    .table-header-action-btn {
      margin: 0 0 1rem 0;
    }
    .table-header-action-secondary-btn {
      margin: 0rem 0 1rem 0.5rem;
    }
  }
  //

  &.with-secondary {
    :deep(.oxd-button) {
      display: inline-flex;
    }
    :deep(.count-container) {
      width: 100%;
    }
    :deep(.oxd-button) {
      padding-right: 10px;
      padding-left: 10px;
    }
    .oxd-table-left-panel--toggle-btn {
      top: 42px;
    }
    .oxd-table-left-panel--separator {
      margin: 0rem 0.5rem
    }
    .no-label {
      padding-right: 20px;
      padding-left: 20px;
    }
    .table-header-action-btns {
      display: flex;
      align-items: center;
    }
    &.with-secondary-collapsed {
      padding-right: 10px;
    }
  }
  &--toggle-btn {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 39px;
    right: -12px;
    font-size: 14px;
    min-width: 22px;
    min-height: 22px;
    background-color: $oxd-white-color;
    border: 1px solid $oxd-interface-gray-lighten-2-color;
    &:hover,
    &:focus {
      background-color: $oxd-white-color;
    }
  }
}

.list {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: flex;
      align-items: center;
      .count-container {
        display: flex;
        align-items: center;
        width: auto;
        padding: 0.5rem;
        border-radius: 1.5rem;
        width: 100%;
        .oxd-left-icon {
          height: 1.5rem;
          width: 1.5rem;
          padding: 0.25rem;
        }
        .oxd-dropdown-selected-chip {
          position: relative;
          width: auto;
          padding: 6px 9px 4px 9px;
          font-size: 0.75rem;
          font-weight: 700;
          font-family: $oxd-left-panel-font-family;
        }
        &:hover,
        &:focus-within,
        &.active {
          background-color: $oxd-background-light-gray-color;
          cursor: pointer;
        }
        &.active {
          .oxd-label {
            font-weight: 700;
          }
        }
      }
      .oxd-label {
        margin: 0.25rem 0.5rem;
        font-size: 0.75rem;
        line-height: normal;
        font-weight: 600;
      }
      &:not(:last-child) {
        margin-bottom: 5px;
      }
      &.collapsed {
        justify-content: center;
        .count-container {
          display: grid;
          text-align: center;
          vertical-align: middle;
          width: auto;
        }
      }
    }
  }
}
.table-header-action-btn {
  margin: 0.5rem 0;

  &.no-label {
    min-width: initial;
    ::v-deep(.oxd-button-label-wrapper) {
      visibility: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      width: 0;
    }
  }
}
.table-header-action-secondary-btn {
  display: inline-flex;
  background-color: #f0fae4;
  :deep(.cls-1) {
    fill: $oxd-button-color--secondary;
  }
  &.collapsed-btn {
    margin-right: 0.5rem;
  }
}
