$oxd-textarea-min-height: 5rem !default;
$oxd-textarea-border--active: $oxd-input-control-border--active;
$oxd-textarea-border--focus: $oxd-input-control-border--focus;
$oxd-textarea-border--error: $oxd-input-control-border--error;
