$oxd-textarea-min-height: 5rem !default;
$oxd-textarea-border--active: $oxd-input-control-border--active !default;
$oxd-textarea-border--focus: $oxd-input-control-border--focus !default;
$oxd-textarea-border--error: $oxd-input-control-border--error !default;
$oxd-textarea-box-shadow--focus: $oxd-input-control-box-shadow--focus !default;
$oxd-textarea-box-shadow--error: $oxd-input-control-box-shadow--error !default;
$oxd-textarea-scrollbar-thumb-color: $oxd-scrollbar-thumb-color !default;
$oxd-textarea-scrollbar-track-color: $oxd-scrollbar-track-color !default;
$oxd-textarea-placeholder-color: $oxd-interface-gray-color !default;
$oxd-textarea-background--disabled: #f0f0f6 !default;