$oxd-textarea-min-height: 5rem !default;
$oxd-textarea-border--active: $oxd-input-control-border--active;
$oxd-textarea-border--focus: $oxd-input-control-border--focus;
$oxd-textarea-border--error: $oxd-input-control-border--error;
$oxd-textarea-box-shadow--focus: $oxd-input-control-box-shadow--focus !default;
$oxd-textarea-box-shadow--error: $oxd-input-control-box-shadow--error !default;
$oxd-textarea-scrollbar-color: $oxd-scrollbar-color !default;
