@import '../../../styles';
@import 'variables';

.oxd-textarea {
  @include oxd-input-control;
  @include oxd-input-control-size;
  min-height: $oxd-textarea-min-height;
  scrollbar-color: $oxd-textarea-scrollbar-color;
  scrollbar-width: thin;

  &--active {
    border: $oxd-textarea-border--active;
  }

  &--focus {
    border: $oxd-textarea-border--focus;
    box-shadow: $oxd-textarea-box-shadow--focus;
    outline: 0;
  }

  &--error {
    border: $oxd-textarea-border--error;
    box-shadow: $oxd-textarea-box-shadow--error;
  }

  &--resize-vertical {
    resize: vertical;
  }

  &--resize-horizontal {
    resize: horizontal;
  }

  &--resize-none {
    resize: none;
  }
}
