@import '../../../styles';
@import 'variables';

.oxd-textarea {
  @include oxd-input-control;
  min-height: $oxd-textarea-min-height;
  scrollbar-color: #cfd3de #f6f5fb;
  scrollbar-width: thin;
}

.oxd-textarea--active {
  border: $oxd-textarea-border--active;
}

.oxd-textarea--focus {
  border: $oxd-textarea-border--focus;
  box-shadow: 1px 1px 6px rgba(35, 35, 36, 0.12);
}

.oxd-textarea--error {
  border: $oxd-textarea-border--error;
  box-shadow: 0 0 5px 0.2rem rgba(223, 9, 16, 0.1);
}

.oxd-textarea--resize-vertical {
  resize: vertical;
}

.oxd-textarea--resize-horizontal {
  resize: horizontal;
}

.oxd-textarea--resize-none {
  resize: none;
}
