@import '../../../styles';
@import 'variables';

.oxd-dropdown-menu {
  display: block;
  position: absolute;
  list-style: none;
  background-color: $oxd-white-color;
  margin: 0;
  left: 0;
  padding: 6px 0;
  top: 45px;
  min-width: max-content;
  z-index: $oxd-dropdown-z-index;
  border: $oxd-dropdown-border;
  border-radius: 6px;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 8%);

  &.--positon-top {
    top: inherit !important;
    @extend .--positon-top;
  }

  &.--positon-right {
    right: inherit !important;
    @extend .--positon-right;
  }

  &.--positon-left {
    left: inherit !important;
    @extend .--positon-left;
  }

  &.--positon-bottom {
    @extend .--positon-bottom;
  }
}

.transition-fade-down-enter-from,
.transition-fade-down-leave-to {
  transform: translateY(-20px);
  opacity: 0;
}

.transition-fade-down-enter-active,
.transition-fade-down-leave-active {
  transition: transform $oxd-dropdown-animation-time
      cubic-bezier(0.53, 2, 0.36, 0.85),
    opacity $oxd-dropdown-animation-time cubic-bezier(0.53, 2, 0.36, 0.85);
}
