$oxd-table-cell-action-gap: 8px !default;
$oxd-table-header-font-weight: 700 !default;

$oxd-table-cell-link-margin-right-with-inline-pill: 0.5rem !default;
$oxd-table-cell-pill-padding-left: 0.3125rem !default;
$oxd-table-cell-pill-padding-right: 0.3125rem !default;
$oxd-table-cell-pill-margin-right: 0.3125rem !default;
$oxd-table-cell-pill-border-radius: 0.65rem !default;
$oxd-table-cell-pill-background-color: rgba($oxd-interface-gray-darken-1-color, 0.1) !default;
