@import '../../../../styles';
@import 'variables';

.oxd-table-cell-actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: $oxd-table-cell-action-gap;
  align-items: center;
}

.oxd-table-cell-actions.oxd-action-render-button-visibility-on-hover {
  opacity: 0;
}

.oxd-table-card {
  &:hover {
    .oxd-action-render-button-visibility-on-hover {
      opacity: 1;
    }
  }
  &:focus-within {
    .oxd-action-render-button-visibility-on-hover {
      opacity: 1;
    }
  }
}
