@import '../../../../styles';
@import 'variables';

.oxd-table-card-cell {
  display: block;
  & .header {
    font-weight: $oxd-table-header-font-weight;
  }
  &-hidden {
    opacity: 0 !important;
    label {
      cursor: unset !important;
    }
  }
}
