@import '../../../../styles';
@import 'variables';

.oxd-table-cell-link {
  color: $oxd-interface-gray-darken-2-color;
  text-decoration: none;
  &:hover {
    color: $oxd-interface-gray-darken-2-color;
    text-decoration: none;
  }

  &--inline-pill {
    margin-right: $oxd-table-cell-link-margin-right-with-inline-pill;
  }
}

.oxd-table-cell-pill {
  display: block;
  width: fit-content;
  width: -moz-fit-content;
  background-color: $oxd-table-cell-pill-background-color;
  margin-right: $oxd-table-cell-pill-margin-right;
  margin-left: -$oxd-table-cell-pill-padding-left;
  padding-left: $oxd-table-cell-pill-padding-left;
  padding-right: $oxd-table-cell-pill-padding-right;
  border-radius: $oxd-table-cell-pill-border-radius;

  &--inline {
    display: inline-block;
  }
}
