.oxd-select-wrapper {
  ::v-deep(.oxd-select-text) {
    border-radius: 0.5rem;
    min-height: 0;
  }
  ::v-deep(.oxd-select-text-input) {
    border-radius: 0.5rem;
    min-height: 0;
    line-height: 1;
  }
  ::v-deep(.oxd-select-text--arrow) {
    width: auto;
    height: auto;
    background-color: transparent;
  }
}
