@import '../../../../styles';

.oxd-select-wrapper {
  ::v-deep(.oxd-select-text) {
    border-radius: 0.5rem;
    min-height: 0;
    padding: 4px 8px 4px;
  }
  ::v-deep(.oxd-select-text-input) {
    border-radius: 0;
    min-height: 0;
    line-height: normal;
    padding: 0;
  }
  ::v-deep(.oxd-select-text--arrow) {
    width: auto;
    height: 10px;
    background-color: transparent;
  }
  ::v-deep(.oxd-select-text--after) {
    padding: 0 0 0 0.25rem;
    color: $oxd-interface-gray-darken-1-color;
  }
  :deep(.oxd-select-dropdown) {
    .oxd-select-dropdown-inner {
      .oxd-select-option {
        span {
          display: block;
        }
      }
    }
  }
}
