$oxd-list-header-height: 45px;
$oxd-list-sidepanel-tab-padding: 1rem;
$oxd-list-collapse-button-width: 20px;
$oxd-list-collapse-button-height: 20px;
$oxd-list-top-offset: 100px;
$oxd-list-padding: 24px;
