$oxd-input-min-height: 45px !default;
$oxd-input-border--active: $oxd-input-control-border--active !default;
$oxd-input-border--focus: $oxd-input-control-border--focus !default;
$oxd-input-border--error: $oxd-input-control-border--error !default;
$oxd-input-box-shadow--focus: $oxd-input-control-box-shadow--focus !default;
$oxd-input-box-shadow--error: $oxd-input-control-box-shadow--error !default;
$oxd-input-background--disabled: #f0f0f6 !default;
$oxd-input-background: $oxd-white-color !default;
$oxd-input-placeholder-color: $oxd-interface-gray-color !default;
