@import '../../../../styles';
@import '../variables';

.oxd-time-wrapper {
  @include oxd-input-control-size;
  position: relative;
  &:focus {
    outline: none;
  }
  & > *:focus {
    outline: none;
  }
}

.oxd-time-input {
  display: flex;
  align-items: center;
  ::v-deep(.oxd-input) {
    text-overflow: ellipsis;
    padding-right: 3rem;
  }
  &--clock {
    right: 0.25rem;
    display: flex;
    cursor: pointer;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: $oxd-dropdown-arrow-width;
    height: $oxd-dropdown-arrow-height;
    border-radius: $oxd-dropdown-arrow-border-radius;
    background-color: $oxd-dropdown-arrow-background-color;
    &.--disabled,
    &.--readonly {
      cursor: unset;
      background-color: $oxd-dropdown-arrow-background-color--readonly;
      color: $oxd-dropdown-arrow-color--readonly;
    }
  }
}

