/* OXD - Interface Colors */
$oxd-sheet-gray-darken-2-color: $oxd-interface-gray-darken-2-color !default;
$oxd-sheet-gray-darken-1-color: $oxd-interface-gray-darken-1-color !default;
$oxd-sheet-gray-color: $oxd-interface-gray-color !default;
$oxd-sheet-gray-lighten-1-color: $oxd-interface-gray-lighten-1-color !default;
$oxd-sheet-gray-lighten-2-color: $oxd-interface-gray-lighten-2-color !default;

/* OXD - Background & Overly Colors */
$oxd-sheet-light-gray-color: $oxd-background-light-gray-color !default;
$oxd-sheet-pastel-white-color: $oxd-background-pastel-white-color !default;
$oxd-sheet-white-shadow-color: $oxd-background-white-shadow-color !default;

$oxd-sheet-white-color: $oxd-white-color !default;

$oxd-sheet-border-radius: $oxd-border-radius !default;
$oxd-sheet-padding-vertical: 1.2rem !default;
$oxd-sheet-padding-horizontal: 1.2rem !default;
