$oxd-card-table-row-hover-bg-color: $oxd-background-light-gray-color !default;
$oxd-card-table-row-hover-font-color: $oxd-interface-gray-darken-2-color !default;

$oxd-card-table-decorator-card-radius: $oxd-border-radius !default;
$oxd-card-table-decorator-card-color: $oxd-white-color !default;
$oxd-card-table-decorator-card-gap: 0.4rem !default;
$oxd-card-table-decorator-card-margin-vertical: 0.2rem !default;
$oxd-card-table-decorator-card-min-height: 45px !default;
$oxd-card-table-decorator-card-item-padding: 5px !default;
