@import '../../../../styles';
@import '../variables';

.oxd-multiselect-wrapper {
  @include oxd-input-control-size;
  position: relative;
  &:focus {
    outline: none;
  }
  & > *:focus {
    outline: none;
  }
}

.oxd-multiselect-chips-area {
  display: flex;
  flex-wrap: wrap;
  padding: $oxd-dropdown-chip-area-padding;
  justify-content: flex-start;
  & .oxd-multiselect-chips-selected {
    display: flex;
    font-family: $oxd-input-control-font-family;
    color: $oxd-input-control-font-color;
    background-color: $oxd-dropdown-chip-background-color;
    margin-right: $oxd-dropdown-chip-margin;
    margin-bottom: $oxd-dropdown-chip-margin;
    & .--clear {
      cursor: pointer;
      border-radius: $oxd-dropdown-chip-border-radius;
      background-color: $oxd-dropdown-chip-clear-background-color;
      color: $oxd-dropdown-chip-clear-font-color;
      margin-left: $oxd-dropdown-chip-margin;
      font-size: 14px;
      min-width: auto;
      min-height: auto;
      padding: 0;
      :deep(.oxd-icon) {
        color: $oxd-dropdown-chip-clear-font-color;
      }
    }
    & .--disabled,
    & .--readonly {
      cursor: unset;
    }
    &:focus-within {
      border: $oxd-input-border--focus;
    }
  }
}

.oxd-select-dropdown {
  &.--positon-top {
    bottom: 100%;
    margin-bottom: $oxd-dropdown-dropdown-margin;
  }

  &.--positon-bottom {
    margin-top: $oxd-dropdown-dropdown-margin;
  }
}
