$oxd-topbar-bg-color: $oxd-primary-gradient-start-color !default;
$oxd-topbar-bg-gradient: $oxd-primary-gradient !default;
$oxd-topbar-border-color: #f1f2f3 !default;
$oxd-topbar-patch-color: $oxd-primary-gradient-start-color !default;

$oxd-topbar-font-family: $oxd-font-family !default;
$oxd-topbar-title-font-size: 14px !default;
$oxd-topbar-title-font-weight: 400 !default;
$oxd-topbar-title-font-color: $oxd-white-color !default;
$oxd-topbar-tab-font-color: $oxd-interface-gray-color !default;
$oxd-topbar-tab-font-weight: 600 !default;
$oxd-topbar-tab-hover-color: #f8f9fc !default;
$oxd-topbar-body-padding: 0.25rem !default;
$oxd-topbar-visited-border: 3px solid $oxd-primary-one-color !default;
$oxd-topbar-visited-border-radius: 4px !default;
$oxd-topbar-visited-border-width: 1.875rem !default;

$oxd-userdropdown-hr: 1px solid rgba(143, 143, 143, 0.15) !default;
$oxd-userdropdown-img-border: 4px solid rgba(225, 225, 255, 0.37) !default;
$oxd-userdropdown-gap-border: 1px solid #da630b !default;

$oxd-notifdropdown-counter-bg: #ffd3c0 !default;
