$oxd-topbar-bg-color: #ff6500;
$oxd-topbar-bg-gradient: linear-gradient(90deg, #ff8226 0%, #f35c17 90%);
$oxd-topbar-border-color: #e9eaec;
$oxd-topbar-patch-color: #f7802a;

$oxd-topbar-tab-text-color: #7a7b88;
$oxd-topbar-tab-hover-color: #f8f9fc;

$oxd-userdropdown-hr: 1px solid rgba(143, 143, 143, 0.15);
$oxd-userdropdown-img-border: 2px solid #de5801;
$oxd-userdropdown-gap-border: 1px solid #da630b;

$oxd-notifdropdown-counter-bg: #ffd3c0;
