@import '../../../styles';
@import '../../../styles/icons';
@import 'variables';

.oxd-topbar {
  position: relative;
  display: flex;
  max-height: 100px;
  flex-direction: column;
  margin-bottom: 10px;
  font-family: $oxd-topbar-font-family;
  font-weight: 300;
  &-header {
    height: 50px;
    @include oxd-respond-to('xs') {
      padding: 0.5rem;
    }
    @include oxd-respond-to('md') {
      padding: 0.5rem 1.5rem;
    }
    background-color: $oxd-topbar-bg-color;
    background-image: $oxd-topbar-bg-gradient;
    display: flex;
    flex-flow: row;
    &-title {
      display: flex;
      min-width: 0%;
      line-height: 2;
      flex-basis: 70%;
      align-items: center;
      padding: 0.5rem 0rem;
      & i {
        margin-right: 10px;
        @include oxd-respond-to('xs') {
          display: none;
        }
        @include oxd-respond-to('md') {
          display: block;
        }
      }
      &-text {
        font-size: $oxd-topbar-title-font-size;
        font-weight: $oxd-topbar-title-font-weight;
        color: $oxd-topbar-title-font-color;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
    &-hamburger {
      color: $oxd-white-color !important;
      margin-right: 10px;
      font-size: 1.5rem;
      cursor: pointer;
      @include oxd-respond-to('xs') {
        display: block !important;
      }
      @include oxd-respond-to('md') {
        display: none !important;
      }
    }
    &-userarea {
      & ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      align-self: center;
      margin-left: auto;
      &-gap {
        width: 0;
        border-right: $oxd-userdropdown-gap-border;
        height: 2rem;
        margin: auto 1rem;
      }
    }
  }
  &-body {
    height: 40px;
    background-color: $oxd-white-color;
    border-bottom: 1px solid $oxd-topbar-border-color;
    padding: $oxd-topbar-body-padding;
    @include oxd-respond-to('md') {
      padding-left: 30px;
    }
    &-nav {
      @include oxd-respond-to('xs') {
        overflow: hidden;
      }
      @include oxd-respond-to('md') {
        overflow: visible;
      }
      & ul:first-child {
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0;
      }
      &-tab {
        padding: 4px 15px;
        cursor: pointer;
        @include oxd-respond-to('md') {
          position: relative;
        }
        user-select: none;
        &-item {
          color: $oxd-topbar-tab-font-color;
          font-weight: $oxd-topbar-tab-font-weight;
          text-decoration: none;
          font-size: 12px;
          white-space: nowrap;
        }
        &-link {
          color: $oxd-topbar-tab-font-color;
          font-weight: $oxd-topbar-tab-font-weight;
          text-decoration: none;
          display: block;
          padding: 6px 16px;
          font-size: 12px;
          &:hover {
            background-color: $oxd-topbar-tab-hover-color;
          }
        }
        &.--active {
          background-color: $oxd-background-pastel-white-color;
          border-radius: 1rem;
        }
        &.--visited:after {
          content: '';
          display: block;
          position: absolute;
          width: $oxd-topbar-visited-border-width;
          border-radius: $oxd-topbar-visited-border-radius;
          border-bottom: $oxd-topbar-visited-border;
          bottom: -#{$oxd-topbar-body-padding};
        }
        // TODO: Refactor for a better solution
        ::v-deep(.oxd-dropdown-menu) {
          @media (min-width: 0px) and (max-width: 800px) {
            top: 115px;
            left: 0;
            right: 0;
          }
        }
      }
    }
  }
  &:before {
    background-color: $oxd-topbar-patch-color;
    width: 50px;
    position: absolute;
    top: 0px;
    display: block;
    left: -50px;
    height: 100%;
    @include oxd-respond-to('xs') {
      content: unset;
    }
    @include oxd-respond-to('md') {
      content: '';
    }
  }
}
