@import '../../../styles';
@import '../../../styles/icons';
@import 'variables';

.oxd-topbar {
  position: relative;
  display: flex;
  max-height: 100px;
  flex-direction: column;
  margin-bottom: 10px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  &-header {
    height: 50px;
    @include oxd-respond-to('xs') {
      padding: 0.5rem;
    }
    @include oxd-respond-to('md') {
      padding: 0.5rem 1.5rem;
    }
    background-color: $oxd-topbar-bg-color;
    background-image: $oxd-topbar-bg-gradient;
    display: flex;
    flex-flow: row;
    &-title {
      display: flex;
      flex-basis: 70%;
      align-items: center;
      padding: 0.5rem 0rem;
      & i {
        margin-right: 10px;
        @include oxd-respond-to('xs') {
          display: none;
        }
        @include oxd-respond-to('md') {
          display: block;
        }
      }
      &-text {
        font-size: 14px;
        color: $oxd-white-color;
      }
    }
    &-hamburger {
      color: $oxd-white-color !important;
      margin-right: 10px;
      font-size: 1.5rem;
      cursor: pointer;
      @include oxd-respond-to('xs') {
        display: block !important;
      }
      @include oxd-respond-to('md') {
        display: none !important;
      }
    }
    &-userarea {
      & ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      align-self: center;
      margin-left: auto;
    }
  }
  &-body {
    height: 40px;
    background-color: $oxd-white-color;
    border-bottom: 1px solid $oxd-topbar-border-color;
    @include oxd-respond-to('xs') {
      padding: 0.5rem;
    }
    @include oxd-respond-to('md') {
      padding: 5px;
      padding-left: 30px;
    }
    &-nav {
      & ul:first-child {
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0;
      }
      &-tab {
        padding: 4px 15px;
        cursor: pointer;
        position: relative;
        user-select: none;
        &-item {
          color: $oxd-topbar-tab-text-color;
          text-decoration: none;
          font-size: 12px;
        }
        &-link {
          color: $oxd-topbar-tab-text-color;
          text-decoration: none;
          display: block;
          padding: 6px 16px;
          font-size: 12px;
          &:hover {
            background-color: $oxd-topbar-tab-hover-color;
          }
        }
        &.--active {
          background-color: $oxd-background-pastel-white-color;
          border-radius: 1rem;
        }
      }
    }
  }
  &:before {
    background-color: $oxd-topbar-patch-color;
    width: 50px;
    position: absolute;
    top: 0px;
    display: block;
    left: -50px;
    height: 100%;
    @include oxd-respond-to('xs') {
      content: unset;
    }
    @include oxd-respond-to('md') {
      content: '';
    }
  }
}

.oxd-userdropdown {
  position: relative;
  & .oxd-dropdown-menu {
    right: 0;
    top: auto;
  }
  &-tab {
    display: flex;
    align-items: center;
    padding-right: 0.75rem;
    box-shadow: 1px 6px 26px 7px rgb(214 43 4 / 53%);
    border-radius: 100px;
    min-width: 35px;
    cursor: pointer;
    &:hover {
      box-shadow: 1px 6px 26px 7px rgb(255 255 255 / 53%);
    }
  }
  &-img {
    height: 2.5rem;
    width: 2.5rem;
    border: $oxd-userdropdown-img-border;
    border-radius: 50% !important;
    margin-right: 8px;
  }
  &-name {
    margin: 0;
    color: $oxd-white-color;
    font-size: 0.75rem;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 50px;
    white-space: nowrap;
    @include oxd-respond-to('md') {
      max-width: unset;
    }
  }
  &-link {
    color: $oxd-topbar-tab-text-color;
    text-decoration: none;
    display: block;
    padding: 6px 16px;
    font-size: 12px;
    & i {
      margin-right: 1rem;
    }
    &:hover {
      background-color: $oxd-topbar-tab-hover-color;
    }
  }
  &-divider {
    border: 0;
    border-top: $oxd-userdropdown-hr;
    margin: 5px 1rem;
  }
  &-gap {
    width: 0;
    border-right: $oxd-userdropdown-gap-border;
    height: 2rem;
    margin: auto 1rem;
  }
}

.oxd-notifdropdown {
  position: relative;
  & .oxd-dropdown-menu {
    right: 0;
    top: auto;
  }
  & .--center {
    text-align: center;
  }
  &-head {
    font-weight: 600;
    font-size: 0.75rem;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    color: $oxd-interface-gray-darken-2-color;
  }
  &-tab {
    display: block;
    box-shadow: 1px 6px 26px 7px rgb(214 43 4 / 53%);
    border-radius: 100px;
    cursor: pointer;
    height: 35px;
    width: 35px;
    text-align: center;
    &:hover {
      box-shadow: 1px 6px 26px 7px rgb(255 255 255 / 53%);
    }
  }
  &-icon {
    color: $oxd-white-color;
    font-size: 1.25rem;
  }
  &-count {
    position: absolute;
    transform: scale(0.6);
    transform-origin: top right;
    right: -8px;
    background-color: $oxd-notifdropdown-counter-bg;
    padding: 0.25rem 0.6rem;
    border-radius: 100%;
  }
  &-link {
    color: $oxd-topbar-tab-text-color;
    text-decoration: none;
    display: block;
    padding: 6px 16px;
    font-size: 12px;
    & i {
      margin-right: 1rem;
    }
    &:hover {
      background-color: $oxd-topbar-tab-hover-color;
    }
  }
  &-divider {
    border: 0;
    border-top: $oxd-userdropdown-hr;
  }
}
