$oxd-sidepanel-bg-color: $oxd-white-color !default;
$oxd-sidepanel-border-radius: 35px;

$oxd-brand-color-black: #3a3a3a;
$oxd-brand-color-green: #008000;

$oxd-menu-item-name-color: #6d6d6f;
$oxd-menu-item-hover-color: #ffccae;
$oxd-menu-item-active-color: #ff7d31;
$oxd-menu-item-active-gradient: linear-gradient(90deg, #ff5e00 0%, #ffa46b 90%);
$oxd-menu-slide-button-color: #ff7b1b;

$oxd-main-menu-hr: 1px solid rgba(143, 143, 143, 0.15);
