@import '../../../styles';
@import 'variables';

.oxd-brand {
  display: flex;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1.5rem 1rem;
  z-index: $oxd-brand-z-index;
  align-items: center;
  &-icon {
    vertical-align: middle;
    border-style: none;
    & img {
      width: 50px;
    }
  }
  &-text {
    padding-left: 5px;
    display: inline-flex;
    &-main {
      color: $oxd-brand-color-black;
    }
    &-sub {
      color: $oxd-brand-color-green;
    }
    &.toggled {
      @include oxd-respond-to('md') {
        display: none;
      }
    }
  }
}
