@import '../../../styles';
@import '../../../styles/icons';
@import 'variables';

.oxd-main-menu {
  margin: 0;
  padding: 0;
  display: flex;
  overflow-y: auto;
  flex-flow: column;
  overflow-x: hidden;
  @include oxd-scrollbar();
  $parent: &;
  &-item {
    display: block;
    text-align: left;
    padding: 0.55rem;
    text-decoration: none;
    padding-left: 30px;
    &--name {
      display: inline;
      text-align: left;
      padding-left: 15px;
      font-size: $oxd-menu-item-name-font-size;
      font-weight: $oxd-menu-item-name-font-weight;
      color: $oxd-menu-item-name-color;
      &.active {
        color: $oxd-menu-item-name-color--active;
      }
    }
    &:hover {
      color: $oxd-menu-item-name-color--hover;
      background-color: $oxd-menu-item-hover-color;
      box-shadow: 1px 1px 10px 5px rgb(255 94 0 / 12%);
      transition-timing-function: ease-out;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      transition: 0.45s;
    }
    &.active {
      color: $oxd-menu-item-name-color--active;
      background-color: $oxd-menu-item-active-color;
      box-shadow: 1px 1px 10px 5px rgb(255 94 0 / 12%);
      transition-timing-function: ease-out;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      background-image: $oxd-menu-item-active-gradient;
    }
    &.toggle {
      @include oxd-respond-to('md') {
        #{$parent}-item--name {
          text-align: center;
          display: block;
          margin-left: -15px;
          padding: 0;
          font-size: 9px;
        }
      }
    }
    &-wrapper {
      list-style: none;
    }
  }
  & hr {
    border: 0;
  }
  &-divider {
    border-top: $oxd-main-menu-hr !important;
    margin: 5px 1rem;
  }
  &-search {
    display: block;
    text-align: left;
    padding: 0.55rem;
    padding-left: 30px;
    overflow: visible;
    /* Unset default oxd input styles */
    & .oxd-input {
      border-radius: unset;
      border: unset;
      min-height: unset;
      height: auto;
      width: auto;
      padding: unset;
      display: inline;
      font-size: 0.85rem;
      padding-left: 15px;
      &--active {
        border: unset;
      }
      &--focus {
        border: unset;
        box-shadow: unset;
        outline: 0;
      }
      &--error {
        border: unset;
        box-shadow: unset;
      }
    }
    & .toggled {
      @include oxd-respond-to('xs') {
        display: inline;
      }
      @include oxd-respond-to('md') {
        display: none;
      }
    }
  }
  &-button {
    position: absolute;
    top: 110px;
    right: -12px;
    width: 25px;
    height: 25px;
    min-width: 25px;
    min-height: 25px;
    background-color: $oxd-menu-slide-button-color;
    @include oxd-respond-to('xs') {
      display: none;
    }
    @include oxd-respond-to('md') {
      display: inline-flex;
    }
    & i {
      color: $oxd-white-color !important;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
    &:active {
      background-color: $oxd-menu-slide-button-color;
    }
  }
  &.--fixed {
    flex: none;
  }
}
