$oxd-tree-view-font-size: 12px !default;
$oxd-tree-view-font-color: $oxd-interface-gray-darken-1-color !default;
$oxd-tree-view-font-weight: 400 !default;
$oxd-tree-view-border-radius: 0.65rem !default;
$oxd-tree-view-line-height: 1.5 !default;
$oxd-tree-view-font-family: $oxd-font-family !default;

$oxd-tree-view-toggle-height: 1.2rem;
$oxd-tree-view-content-padding: 0.25rem 0.5rem;
$oxd-tree-view-node-padding: 0 0 0 1.5rem;
$oxd-tree-view-border: 0.15rem solid $oxd-primary-one-color;
$oxd-tree-view-animation-time: 500ms;
