$oxd-loading-spinner-border: 0.5em !default;
$oxd-loading-spinner-border-light-color: $oxd-interface-gray-lighten-2-color !default;
$oxd-loading-spinner-border-dark-color: $oxd-interface-gray-color !default;
$oxd-loading-spinner-size: 22px !default;
$oxd-loading-spinner-font-size: 10px !default;

$oxd-loading-spinner-container-size: 45px !default;
$oxd-loading-spinner-container-padding: 2px !default;
$oxd-loading-spinner-container-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.18) !default;
