@import '../../../styles';
@import 'variables';

@keyframes oxd-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.oxd-loading-spinner {
  font-size: $oxd-loading-spinner-font-size;
  border-top: $oxd-loading-spinner-border solid
    $oxd-loading-spinner-border-light-color;
  border-right: $oxd-loading-spinner-border solid
    $oxd-loading-spinner-border-light-color;
  border-bottom: $oxd-loading-spinner-border solid
    $oxd-loading-spinner-border-light-color;
  border-left: $oxd-loading-spinner-border solid
    $oxd-loading-spinner-border-dark-color;
  transform: translateZ(0);
  animation: oxd-spinner 1.1s infinite linear;
  border-radius: 50%;
  width: $oxd-loading-spinner-size;
  height: $oxd-loading-spinner-size;
  margin: 0 auto;
}

.oxd-loading-spinner-container {
  box-shadow: $oxd-loading-spinner-container-box-shadow;
  border-radius: 50%;
  box-sizing: border-box;
  width: $oxd-loading-spinner-container-size;
  height: $oxd-loading-spinner-container-size;
  padding: $oxd-loading-spinner-container-padding;
  display: flex;
  align-items: center;
  &--block {
    display: inline-block;
  }
}
