$oxd-comment-content-container-border-radius: 1.2rem !default;
$oxd-comment-content-container-padding: 1rem !default;
$oxd-comment-content-container-padding-top: 0.5rem !default;
$oxd-comment-content-container-margin: 0.5rem !default;
$oxd-comment-content-font-size: 0.75rem !default;
$oxd-comment-content-font-weight: 400 !default;
