$oxd-select-input-button-color--secondary-pressed: #68a61d !default;
$oxd-info-box-title-color: $oxd-interface-gray-darken-1-color !default;
$oxd-info-box-font-family: $oxd-font-family !default;
$oxd-info-box-title-font-size: 16px !default;
$oxd-info-box-sub-title-font-size: 14px !default;
$oxd-info-box-font-weight: 700 !default;