@import '../../../styles';

.oxd-layout {
  display: flex;
  background-color: $oxd-background-pastel-white-color;
  &-container {
    flex: 1;
    width: 100%;
    height: 100vh;
  }
  &-context {
    padding: 0 1.5rem;
  }
  &-overlay {
    @include oxd-respond-to('xs') {
      display: flex;
    }
    @include oxd-respond-to('md') {
      display: none;
    }
  }
}
