$oxd-chart-legend-padding: 1rem 0 0 0 !default;
$oxd-chart-legend-label-width: 100px !default;
$oxd-chart-legend-key-width: 10px !default;
$oxd-chart-legend-key-height: 10px !default;
$oxd-chart-legend-key-margin-right: 5px !default;
$oxd-chart-legend-key-padding: 0 0.25rem !default;

$oxd-pie-chart-width: 70% !default;
$oxd-pie-chart-height: 85% !default;
$oxd-pie-chart-md-width: 70% !default;
$oxd-pie-chart-md-height: 80% !default;

$oxd-pie-chart-tooltip-padding: 0.5rem !default;
$oxd-pie-chart-tooltip-border-radius: 0.5rem !default;
$oxd-pie-chart-tooltip-border: $oxd-border $oxd-interface-gray-lighten-2-color !default;
$oxd-pie-chart-tooltip-background: $oxd-white-color !default;
