$oxd-input-min-height: 45px !default;
$oxd-input-border--active: $oxd-input-control-border--active !default;
$oxd-input-border--focus: $oxd-input-control-border--focus !default;
$oxd-input-border--error: $oxd-input-control-border--error !default;
$oxd-input-box-shadow--focus: $oxd-input-control-box-shadow--focus !default;
$oxd-input-box-shadow--error: $oxd-input-control-box-shadow--error !default;
$oxd-input-background--disabled: #f0f0f6 !default;
$oxd-input-background: $oxd-white-color !default;
$oxd-input-placeholder-color: $oxd-interface-gray-color !default;

$oxd-file-input-horizontal-margin: 0.25rem !default;
$oxd-file-input-background-color: $oxd-white-color !default;
$oxd-file-button-background-color: $oxd-background-light-gray-color !default;
$oxd-file-button-color: $oxd-interface-gray-darken-1-color !default;
$oxd-file-button-font-size: 0.875rem;
$oxd-file-button-font-weight: 600;
$oxd-file-button-padding-horizontal: 1.5rem;
$oxd-file-button-color--disabled: $oxd-interface-gray-lighten-1-color !default;
$oxd-file-button-background-color--disabled: #d9d9d9 !default;
$oxd-file-button-height: 35px !default;
$oxd-file-button-width: 35px !default;
$oxd-file-upload-box-border: #cfd3de !default;
$oxd-file-upload-box-background: #f1f2f5 !default;
$oxd-file-upload-box-color: #64728c !default;

$oxd-checkbox-label-color: $oxd-input-control-font-color !default;
$oxd-checkbox-label-color--disabled: $oxd-interface-gray-color !default;
$oxd-checkbox-check-font-size: 1rem !default;
$oxd-checkbox-height: 1rem !default;
$oxd-checkbox-width: 1rem !default;
$oxd-checkbox-border: 1px solid $oxd-interface-gray-lighten-1-color !default;
$oxd-checkbox-border-radius: 0.375rem !default;
$oxd-checkbox-label-margin: 0.5em !default;
$oxd-checkbox-checked-background-color: $oxd-primary-input-color !default;
$oxd-checkbox-checked-border: 1px solid $oxd-primary-input-color !default;
$oxd-checkbox-disabled-background-color: $oxd-interface-gray-lighten-2-color !default;

$oxd-switch-label-color: $oxd-input-control-font-color !default;
$oxd-switch-label-color--disabled: $oxd-interface-gray-color !default;
$oxd-switch-width: 2rem !default;
$oxd-switch-height: calc(#{$oxd-switch-width} / 2);
$oxd-switch-radius: calc(#{$oxd-switch-width} / 2);
$oxd-switch-selector-height: calc(#{$oxd-switch-height} - 2px);
$oxd-switch-selector-width: calc(#{$oxd-switch-height} - 2px);
$oxd-switch-selector-radius: calc(#{$oxd-switch-selector-height} / 2);
$oxd-switch-selector-color: $oxd-white-color !default;
$oxd-switch-label-margin: 15px;
$oxd-switch-off-background-color: $oxd-interface-gray-lighten-2-color !default;
$oxd-switch-on-background-color: $oxd-primary-input-color !default;
$oxd-switch-on-disabled-background-color: hsl(25, 100%, 56%, 0.5) !default;
$oxd-switch-off-disabled-background-color: $oxd-interface-gray-lighten-1-color !default;
$oxd-switch-off-disabled-selector-color: $oxd-interface-gray-lighten-2-color !default;
$oxd-switch-disabled-background-color: $oxd-interface-gray-lighten-2-color !default;

$oxd-radio-label-color: $oxd-input-control-font-color !default;
$oxd-radio-label-color--disabled: $oxd-interface-gray-color !default;
$oxd-radio-height: 1rem !default;
$oxd-radio-width: 1rem !default;
$oxd-radio-label-margin: 0.5em !default;
$oxd-radio-checked-color: $oxd-primary-input-color !default;
$oxd-radio-checked-disabled-color: #ffd4b6 !default;
$oxd-radio-active-border: $oxd-border $oxd-interface-gray-lighten-1-color !default;
$oxd-radio-checked-active-border: $oxd-border $oxd-radio-checked-color !default;
$oxd-radio-checked-disabled-border: $oxd-border
  $oxd-radio-checked-disabled-color !default;

$oxd-dropdown-text-padding: 0 0.25rem 0 0.5rem !default;
$oxd-dropdown-animation-time: 300ms !default;
$oxd-dropdown-max-height: 11.5rem !default;
$oxd-dropdown-loader-height: 1rem !default;
$oxd-dropdown-dropdown-z-index: 300 !default;
$oxd-dropdown-dropdown-box-shadow: 0px 5px 15px -8px rgba(0, 0, 0, 0.15) !default;
$oxd-dropdown-dropdown-padding: 0.5rem 0.25rem !default;
$oxd-dropdown-dropdown-inner-padding: 0.125rem 0.5rem 0 0 !default;
$oxd-dropdown-dropdown-border: 1px solid $oxd-interface-gray-lighten-2-color !default;
$oxd-dropdown-dropdown-border-radius: 0.65rem !default;
$oxd-dropdown-dropdown-background: $oxd-white-color !default;
$oxd-dropdown-dropdown-background--disabled: #f0f0f6 !default;
$oxd-dropdown-dropdown-margin: 5px !default;
$oxd-dropdown-dropdown-color: $oxd-interface-gray-darken-1-color !default;
$oxd-dropdown-dropdown-slot-color: $oxd-interface-gray-color !default;
$oxd-dropdown-dropdown-max-height: 210px !default;
$oxd-tree-select-dropdown-dropdown-max-height: 310px;
$oxd-dropdown-dropdown-with-empty-selector-max-height: 248px !default;

$oxd-dropdown-option-font-size: $oxd-input-control-font-size !default;
$oxd-dropdown-option-font-family: $oxd-input-control-font-family !default;
$oxd-dropdown-option-font-weight: $oxd-input-control-font-weight !default;
$oxd-dropdown-option-padding: 0 0.75rem !default;
$oxd-dropdown-option-margin: 0.15rem 0 !default;
$oxd-dropdown-option-min-height: 37px !default;
$oxd-dropdown-option-line-height: 37px !default;
$oxd-dropdown-option-border-bottom: 1px solid #fbfbfc !default;
$oxd-dropdown-option-border-radius: 0.65rem !default;
$oxd-dropdown-option-color: $oxd-interface-gray-darken-1-color !default;
$oxd-dropdown-option-color--disabled: $oxd-interface-gray-lighten-1-color !default;
$oxd-dropdown-option-color--selected: $oxd-interface-gray-lighten-1-color !default;
$oxd-dropdown-option-background: transparent !default;
$oxd-dropdown-option-background--focused: #f6f7f9 !default;
$oxd-dropdown-option-background--selected: $oxd-interface-gray-lighten-2-color !default;

$oxd-dropdown-chip-margin: 5px !default;
$oxd-dropdown-chip-background-color: #f6f7f9 !default;
$oxd-dropdown-chip-clear-background-color: $oxd-interface-gray-lighten-1-color !default;
$oxd-dropdown-chip-clear-font-color: $oxd-white-color !default;
$oxd-dropdown-chip-border-radius: 50% !default;
$oxd-dropdown-chip-area-padding: 0.5rem 0 !default;

$oxd-dropdown-arrow-background-color: $oxd-background-light-gray-color !default;
$oxd-dropdown-arrow-background-color--disabled: $oxd-background-light-gray-color !default;
$oxd-dropdown-arrow-background-color--readonly: #fcfcfc !default;
$oxd-dropdown-arrow-color--readonly: $oxd-interface-gray-lighten-1-color !default;
$oxd-dropdown-arrow-width: 35px !default;
$oxd-dropdown-arrow-height: 35px !default;
$oxd-dropdown-arrow-border-radius: 0.65rem !default;

$oxd-time-picker-input-ampm-font-family: $oxd-font-family !default;
$oxd-time-picker-input-ampm-font-size: 12px !default;
$oxd-time-picker-input-ampm-font-color: $oxd-interface-gray-darken-1-color !default;
$oxd-time-picker-input-ampm-font-weight: 400 !default;
$oxd-time-picker-input-ampm-background-color: $oxd-background-light-gray-color !default;
$oxd-time-picker-input-ampm-border-radius: 0.4rem !default;
$oxd-time-picker-input-ampm-padding: 0.25rem 0.5rem !default;
$oxd-time-picker-input-ampm-left-position: auto !default;
$oxd-time-picker-input-ampm-right-position: 2.6rem !default;

$oxd-time-picker-period-label-width: 60px !default;
$oxd-time-picker-period-label-padding: 0 !default;
$oxd-time-picker-period-label-margin-between: 8px !default;
$oxd-time-picker-period-horizontal-padding: 16px !default;
$oxd-time-picker-period-vertical-padding: 8px !default;
$oxd-time-picker-period-font-size: 14px !default;
$oxd-time-picker-period-font-weight: 600 !default;
$oxd-time-picker-period-font-family: $oxd-font-family !default;
$oxd-time-picker-period-font-color: $oxd-interface-gray-darken-1-color !default;
$oxd-time-picker-period-background-color: $oxd-background-light-gray-color !default;
$oxd-time-picker-period-checked-font-color: $oxd-white-color !default;
$oxd-time-picker-period-checked-background-color: $oxd-primary-one-color !default;
$oxd-time-picker-period-border-radius: 0.5rem !default;
$oxd-time-picker-input-font-size: 1rem !default;
$oxd-time-picker-input-font-weight: 700 !default;
$oxd-time-picker-dropdown-padding: 0.75rem !default;
$oxd-time-picker-dropdown-width: 250px !default;
$oxd-time-picker-dropdown-input-width: 60px !default;
$oxd-time-picker-dropdown-seperator-padding: 0.25rem !default;
$oxd-time-picker-dropdown-border-radius: 1rem !default;

$oxd-date-input-links-margin: 0.5rem !default;
$oxd-date-input-link-padding: 5px 10px !default;
$oxd-date-input-link-border-radius: 0.75rem !default;
$oxd-date-input-link-font-family: $oxd-input-control-font-family !default;
$oxd-date-input-link-font-color: $oxd-input-control-font-color !default;
$oxd-date-input-link-font-weight: 600 !default;
$oxd-date-input-link-font-weight-hover: 600 !default;
$oxd-date-input-link-font-size: 14px !default;
$oxd-date-input-link-highlight-color: $oxd-primary-input-color !default;
$oxd-date-input-link-background: $oxd-background-light-gray-color !default;

$oxd-autocomplete-dropdown-option-padding: 0.3rem 0.75rem !default;

$oxd-select-input-button-color--secondary-pressed: #68a61d !default;

$oxd-radio-pill-font-family: $oxd-font-family !default;
$oxd-radio-pill-font-size: 12px !default;
$oxd-radio-pill-font-color: $oxd-interface-gray-color !default;
$oxd-radio-pill-font-weight: 400 !default;
$oxd-radio-pill-background-color: $oxd-white-color !default;
$oxd-radio-pill-border: $oxd-input-border--active !default;
$oxd-radio-pill-border-radius: $oxd-input-control-border-radius !default;
$oxd-radio-pill-padding: $oxd-input-control-vertical-padding
  $oxd-input-control-horizontal-padding !default;

$oxd-radio-pill-font-color--checked: $oxd-primary-one-color !default;
$oxd-radio-pill-background-color--checked: $oxd-primary-input-color-alpha-05 !default;
$oxd-radio-pill-border--checked: 1px solid $oxd-primary-input-color !default;
$oxd-radio-pill-box-shadow--checked: $oxd-input-box-shadow--focus !default;

$oxd-radio-pill-background-color--checked--hover: $oxd-primary-input-color-alpha-10 !default;
$oxd-radio-pill-font-color--checked--disabled: $oxd-primary-input-color-lighten-10 !default;
$oxd-radio-pill-border--checked--disabled: 1px solid
  $oxd-primary-input-color-lighten-10 !default;

$oxd-radio-pill-font-color--hover: $oxd-interface-gray-darken-1-color !default;
$oxd-radio-pill-background-color--hover: $oxd-white-color !default;
$oxd-radio-pill-border--hover: 1px solid $oxd-interface-gray-darken-1-color !default;
$oxd-radio-pill-box-shadow--hover: none !default;

$oxd-radio-pill-font-color--disabled: $oxd-interface-gray-lighten-1-color !default;
$oxd-radio-pill-background-color--disabled: $oxd-white-color !default;
$oxd-radio-pill-border--disabled: 1px solid $oxd-interface-gray-lighten-1-color !default;
$oxd-radio-pill-box-shadow--disabled: none !default;

$oxd-radio-pill-font-color--readonly: $oxd-interface-gray-lighten-1-color !default;
$oxd-radio-pill-background-color--readonly: $oxd-white-color !default;
$oxd-radio-pill-border--readonly: 1px solid $oxd-interface-gray-lighten-1-color !default;
$oxd-radio-pill-box-shadow--readonly: none !default;

$oxd-radio-pill-group-gap: 0.25rem !default;
