$oxd-input-min-height: 45px !default;
$oxd-input-border--active: $oxd-input-control-border--active !default;
$oxd-input-border--focus: $oxd-input-control-border--focus !default;
$oxd-input-border--error: $oxd-input-control-border--error !default;
$oxd-input-box-shadow--focus: $oxd-input-control-box-shadow--focus !default;
$oxd-input-box-shadow--error: $oxd-input-control-box-shadow--error !default;

$oxd-file-button-background-color: $oxd-interface-gray-lighten-2-color !default;
$oxd-file-button-color: $oxd-interface-gray-darken-1-color !default;
$oxd-file-button-font-size: 0.875rem;
$oxd-file-button-font-weight: 600;
$oxd-file-button-margin-vertical: 4px;
$oxd-file-button-margin-left: 4px;
$oxd-file-button-padding-horizontal: 2rem;

$oxd-dropdown-animation-time: 300ms !default;
$oxd-dropdown-max-height: 10rem !default;
$oxd-dropdown-loader-height: 1rem !default;

$oxd-checkbox-check-font-size: 1rem !default;
$oxd-checkbox-height: 1rem !default;
$oxd-checkbox-width: 1rem !default;
$oxd-checkbox-border-radius: 0.35rem !default;
$oxd-checkbox-label-margin: 0.5em !default;
$oxd-checkbox-checked-background-color: $oxd-primary-one-color !default;
$oxd-checkbox-disabled-background-color: $oxd-interface-gray-lighten-2-color !default;

$oxd-switch-width: 2rem !default;
$oxd-switch-height: calc(#{$oxd-switch-width} / 2);
$oxd-switch-radius: calc(#{$oxd-switch-height} / 2);
$oxd-switch-selector-height: calc(#{$oxd-switch-height} - 2px);
$oxd-switch-selector-width: calc(#{$oxd-switch-height} - 2px);
$oxd-switch-selector-radius: calc(#{$oxd-switch-selector-height} / 2);
$oxd-switch-selector-color: $oxd-white-color !default;
$oxd-switch-label-margin: 0.5em;
$oxd-switch-off-background-color: $oxd-interface-gray-lighten-2-color !default;
$oxd-switch-on-background-color: $oxd-primary-one-color !default;
$oxd-switch-on-disabled-background-color: rgba(
  $oxd-primary-one-color,
  0.5
) !default;
$oxd-switch-off-disabled-background-color: $oxd-interface-gray-lighten-2-color !default;
$oxd-switch-disabled-background-color: $oxd-interface-gray-lighten-2-color !default;
