@import '../../../styles';
@import 'variables';

.oxd-input {
  @include oxd-input-control;
  @include oxd-input-control-size;
  min-height: $oxd-input-min-height;

  &--active {
    border: $oxd-input-border--active;
  }

  &--focus {
    border: $oxd-input-border--focus;
    box-shadow: $oxd-input-box-shadow--focus;
    outline: 0;
  }

  &--error {
    border: $oxd-input-border--error;
    box-shadow: $oxd-input-box-shadow--error;
  }
}

/* File Input */
.oxd-file-input {
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  max-width: 0;
  width: 0;
}

.oxd-file-div {
  word-wrap: break-word;
  display: flex;
  padding: 0;
}

.oxd-file-button {
  cursor: pointer;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: $oxd-input-control-border-radius;
  padding-right: $oxd-file-button-padding-horizontal;
  padding-left: $oxd-file-button-padding-horizontal;

  background-color: $oxd-file-button-background-color;
  color: $oxd-file-button-color;
  font-size: $oxd-file-button-font-size;
  font-weight: $oxd-file-button-font-weight;
  margin-top: $oxd-file-button-margin-vertical;
  margin-bottom: $oxd-file-button-margin-vertical;
  margin-left: $oxd-file-button-margin-left;
}

.oxd-file-input-div {
  @include oxd-input-control;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
