.password-container {
  position: relative;
  width: 100%;
  :deep(.oxd-input){
    padding-right: 3rem ;
  }
  .password-strength-check {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0.65rem;
    margin-top: -25px;
    font-weight: 700;
    font-size: 12px;
    color: white;
    padding: 2px 10px;
  }

  .password-view-icon-container {
    position: absolute;
    border-radius: 0.65rem;
    right: -0.18rem;
    height: 2.2rem;
    width: 2.2rem;
    top: 0.32rem;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;

    .oxd-password-view-icon {
      position: absolute;
      right: 0;
      border-radius: 0.65rem;
      margin-right: 0.5rem;
      width: 1.2rem;
      height: 1.5rem;
    }
  }

  .password-view-icon-container.password-visible {
    .oxd-password-view-icon {
      background-color: #64728c;
      color: white !important;

      :deep(.oxd-input) {
        color: #ffffff !important;
      }
    }
  }

  /* Very Weak Strength */
  &.very-weak-strength {
    .password-strength-check {
      background-color: #ff4e00;
      color: #ffffff;
    }
    :deep(.oxd-input) {
      border: 1px solid #ff4e00;
      box-shadow: 0 0 5px 0.2rem rgba(255, 78, 0, 0.1);
    }
  }

  /* Weak Strength */
  &.weak-strength {
    .password-strength-check {
      background-color: #ff8400;
      color: #ffffff;
    }
    :deep(.oxd-input) {
      border: 1px solid #ff8400;
      box-shadow: 0 0 5px 0.2rem rgba(255, 132, 0, 0.1);
    }
  }

  /* Better Strength */
  &.better-strength {
    .password-strength-check {
      background-color: #ffb400;
      color: #996c00;
    }
    :deep(.oxd-input) {
      border: 1px solid #ffb400;
      box-shadow: 0 0 5px 0.2rem rgba(255, 180, 0, 0.1);
    }
  }

  /* Medium Strength */
  &.medium-strength {
    .password-strength-check {
      background-color: #fcff00;
      color: #979900;
    }
    :deep(.oxd-input) {
      border: 1px solid #fcff00;
      box-shadow: 0 0 5px 0.2rem rgba(252, 255, 0, 0.1);
    }
  }

  /* Strong Strength */
  &.strong-strength {
    .password-strength-check {
      background-color: #bde813;
      color: #708a0b;
    }
    :deep(.oxd-input) {
      border: 1px solid #bde813;
      box-shadow: 0 0 5px 0.2rem rgba(189, 232, 19, 0.1);
    }
  }

  /* Strongest Strength */
  &.strongest-strength {
    .password-strength-check {
      background-color: #93b40f;
      color: #ffffff;
    }
    :deep(.oxd-input) {
      border: 1px solid #93b40f;
      box-shadow: 0 0 5px 0.2rem rgba(147, 180, 15, 0.1);
    }
  }
}
