@import '../../../styles';
@import 'variables';

.oxd-radio-wrapper {

  .oxd-radio-option-label{
    overflow-wrap: break-word;
    word-break: break-all;
  }

  & label {
    cursor: pointer;
    display: flex;
    align-content: center;
    font-family: $oxd-input-control-font-family;
    color: $oxd-radio-label-color;
    font-size: $oxd-input-control-font-size;
    font-weight: $oxd-input-control-font-weight;
    width: fit-content;
    padding: 0.25rem 0.5rem;
    display: flex;

    &:hover,
    &.--focus {
      background-color: rgb(0 0 0 / 5%);
      border-radius: 1rem;
    }

    &.--disabled {
      color: $oxd-radio-label-color--disabled;
      cursor: unset;
      background-color: unset;
      border-radius: unset;
    }

    &:after {
      content: '';
      display: table;
      clear: both;
    }

    & input[type='radio'] {
      opacity: 0;
      position: absolute;
      + .oxd-radio-input {
        background-color: $oxd-white-color;
      }

      &:checked + .oxd-radio-input {
        box-shadow: inset 0 0 0 0.3rem $oxd-radio-checked-color;
        &:not(.oxd-radio-input--error) {
          border: $oxd-radio-checked-active-border;
        }
      }

      &:checked:disabled + .oxd-radio-input {
        box-shadow: inset 0 0 0 0.3rem $oxd-radio-checked-disabled-color;
        &:not(.oxd-radio-input--error) {
          border: $oxd-radio-checked-disabled-border;
        }
      }
    }
  }
}

.oxd-radio-input {
  position: relative;
  display: flex;
  border-radius: 100%;
  width: $oxd-radio-width;
  height: $oxd-radio-height;
  flex-basis: 1rem;
  flex-shrink: 0;
  flex-grow: 0;

  &.--label-left {
    margin-left: $oxd-radio-label-margin;
  }

  &.--label-right {
    margin-right: $oxd-radio-label-margin;
  }

  &--active {
    border: $oxd-radio-active-border;
  }

  &--focus {
    border: $oxd-radio-checked-active-border;
    outline: 0;
  }
}
