@import '../../../styles';
@import 'variables';

.oxd-switch-wrapper {
  & label {
    cursor: pointer;
    display: flex;
    align-content: center;
    font-family: $oxd-input-control-font-family;
    color: $oxd-switch-label-color;
    font-size: $oxd-input-control-font-size;
    font-weight: $oxd-input-control-font-weight;
    width: fit-content;

    & input[type='checkbox'] {
      opacity: 0;
      position: absolute;
      + .oxd-switch-input {
        background-color: $oxd-switch-off-background-color;
      }

      &:checked + .oxd-switch-input {
        background-color: $oxd-switch-on-background-color;
        &::after {
          transform: translate($oxd-switch-height, -50%);
        }
      }

      &:checked:disabled + .oxd-switch-input {
        background-color: $oxd-switch-on-disabled-background-color;
        &::after {
          transform: translate($oxd-switch-height, -50%);
        }
      }

      &:not(:checked):disabled + .oxd-switch-input {
        border: 1px solid $oxd-switch-off-disabled-background-color;
        opacity: 0.50;
      }
    }

    &.--disabled {
      color: $oxd-switch-label-color--disabled;
      cursor: unset;
    }

    i.oxd-svg-icon {
      left: 0.25rem;
      bottom: 0.625rem;
      &.left {
        margin-right: 0.5rem;
      }
    }
  }
}

.oxd-switch-input {
  position: relative;
  width: $oxd-switch-width;
  height: $oxd-switch-height;
  min-width: $oxd-switch-width;
  border-radius: $oxd-switch-radius;
  transition: background-color 0.2s ease;

  &--active {
    border: $oxd-input-border--active;
  }

  &--focus {
    border: $oxd-input-border--focus;
    box-shadow: $oxd-input-box-shadow--focus;
    outline: 0;
  }

  &.--label-left {
    margin-left: $oxd-switch-label-margin;
  }

  &.--label-right {
    margin-right: $oxd-switch-label-margin;
  }

  &::after {
    content: '';
    position: absolute;
    height: $oxd-switch-selector-height;
    width: $oxd-switch-selector-width;
    border-radius: $oxd-switch-selector-radius;
    background-color: $oxd-switch-selector-color;
    transition: transform 0.2s ease;
    top: 50%;
    transform: translate(0, -50%);
  }
}

// label left: move switch to right
.oxd-switch-wrapper label.--full-width {
  width: 100%;
  column-gap: $oxd-switch-label-margin;
  .oxd-switch-input.--label-left {
    margin-left: auto;
  }

  .oxd-switch-input.--label-right {
    margin-right: auto;
  }
}
